{% set bannerUrl = pictures_cdn ~ '/banner/' ~ user.id ~ '.png' %}
<img
    src="{{ bannerUrl }}"
    alt="{{ user.displayName }} stats"
    class="img-responsive"
/>
<div class="col-sm-12 text-right">
  <ul class="list-inline no-margin-bottom">
    <li>
      {% set bbcode = '[url='~ absolute_url(path('user_profile', {'id': user.id})) ~'][img]' ~ bannerUrl ~ '[/img][/url]' %}
      {% set htmlcode = '<a href="'~ absolute_url(path('user_profile', {'id': user.id})) ~'"><img src="' ~ bannerUrl ~ '"/></a>' %}
      <a onclick="copy(this);" class="btn btn-link" data-copy="{{ bbcode }}">
        <i class="icon-copy position-left"></i>
        {{ 'profile.banner.getbbcode'|trans }}
      </a>
    </li>
    <li>
      <a onclick="copy(this);" class="btn btn-link" data-copy="{{ htmlcode }}">
        <i class="icon-copy2 position-left"></i>
        {{ 'profile.banner.gethtml'|trans }}
      </a>
    </li>
  </ul>
</div>
<script type="application/javascript">
    function copy(element) {
        const el = document.createElement('textarea');
        el.value = element.dataset.copy;
        document.body.appendChild(el);
        el.select();
        document.execCommand('copy');
        document.body.removeChild(el);
    }
</script>
