{% set bannerUrl = pictures_cdn ~ '/banner/' ~ user.id ~ '.png' %}
<img
    src="{{ bannerUrl }}"
    alt="{{ user.displayName }} stats"
    class="w-full h-auto rounded-lg mb-4"
/>
<div class="flex flex-wrap justify-center gap-2">
  {% set bbcode = '[url='~ absolute_url(path('user_profile', {'id': user.id})) ~'][img]' ~ bannerUrl ~ '[/img][/url]' %}
  {% set htmlcode = '<a href="'~ absolute_url(path('user_profile', {'id': user.id})) ~'"><img src="' ~ bannerUrl ~ '"/></a>' %}
  <button onclick="copy(this);" class="btn-secondary inline-flex items-center gap-2" data-copy="{{ bbcode }}">
    {{ ux_icon('heroicons:clipboard-document', {'class': 'w-5 h-5', 'aria-hidden': 'true'}) }}
    {{ 'profile.banner.getbbcode'|trans }}
  </button>
  <button onclick="copy(this);" class="btn-secondary inline-flex items-center gap-2" data-copy="{{ htmlcode }}">
    {{ ux_icon('heroicons:document-duplicate', {'class': 'w-5 h-5', 'aria-hidden': 'true'}) }}
    {{ 'profile.banner.gethtml'|trans }}
  </button>
</div>
<script type="application/javascript">
    function copy(element) {
        const el = document.createElement('textarea');
        el.value = element.dataset.copy;
        document.body.appendChild(el);
        el.select();
        document.execCommand('copy');
        document.body.removeChild(el);
    }
</script>
