{% extends "base.html.twig" %}

{% set title = 'profile.title'|trans %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-sm-3">
      <div class="row">
        {% include 'Profile/_menu.html.twig' with {'user': user, 'images_counter': images_counter} only %}
      </div>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-12">
          <!-- stats -->
          {% include 'Profile/user_stats.html.twig' with {'stats': stats, 'hideNonOperatingCoastersInTop100Stat': hideNonOperatingCoastersInTop100Stat} only %}
          <!-- stats -->
          <!-- banner -->
          <div class="panel">
            <div class="panel-body">
              <h4 class="content-group-lg">
                {{ 'profile.banner.title'|trans }}
                <small class="display-block">{{ 'profile.banner.text'|trans }}</small>
              </h4>
              <div id="my-banner" class="text-center content-group">
                  {% include 'Profile/banner.html.twig' with {'user': user} only %}
              </div>
            </div>
          </div>
          <!-- banner -->
          <!-- badges -->
          <div class="panel panel-flat">
            <div class="panel-heading">
              <h3 class="panel-title">{{ 'profile.badge'|trans }}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-sm-6 text-center" style="margin-bottom: 40px;">
                  <img src="{{ asset('images/badges/bienvenue-'~app.request.locale~'.png') }}"/>
                </div>
                {% for badge in user.badges %}
                  <div class="col-md-3 col-sm-6 text-center" style="margin-bottom: 40px;">
                    <img src="{{ asset('images/badges/'~badge.filename(app.request.locale)) }}"/>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <!-- /badges -->
        </div>
      </div>
    </div>
  </div>
{% endblock %}
