{% extends "base.html.twig" %}

{% import "helper.html.twig" as helper %}

{% set title = 'me.title'|trans %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-sm-3">
      <div class="row">
        <!-- infos user -->
        <div class="panel">
          <div class="panel-body text-center">
            <div class="display-inline-block">
              {{ helper.profilePicture(user) }}
            </div>
            <h6 class="text-semibold no-margin-bottom">
              {{ user.displayName }}
            </h6>
          </div>

          <div class="list-group no-border no-padding-top">
            <a href="{{ path('me_ratings') }}" class="list-group-item">
              <i class="icon-stars"></i>
              {{ 'me.menu.ratings'|trans }}
              <span class="badge bg-teal-400 pull-right">{{ user.ratings|length }}</span>
            </a>
            <a href="{{ path('user_reviews', {'id': user.id}) }}" class="list-group-item">
              <i class="icon-megaphone"></i>
              {{ 'me.menu.reviews'|trans }}
            </a>
            <a href="{{ path('user_tops', {'id': user.id}) }}" class="list-group-item">
              <i class="icon-clipboard3"></i>
              {{ 'me.menu.tops'|trans }}
            </a>
              {% if images_counter > 0 %}
                <a href="{{ path('user_pictures', {'id': user.id}) }}" class="list-group-item">
                  <i class="icon-camera"></i>
                    {{ 'me.menu.photos'|trans }}
                    <span class="badge bg-teal-400 pull-right">{{ images_counter }}</span>
                </a>
            {% endif %}
            <a href="{{ path('map_user', {'id': user.id}) }}" class="list-group-item">
              <i class="icon-location3"></i>
              {{ 'me.menu.map'|trans }}
            </a>
          </div>
        </div>
        <!-- /infos user -->
        <!-- preferences form -->
        <div class="panel panel-flat">
          <div class="panel-heading">
            <h6 class="panel-title">{{ 'me.parameters'|trans }}</h6>
          </div>
          <div class="panel-body">
            {{ form_start(form) }}
            <div class="form-group">
              {{ form_row(form.displayName) }}
            </div>
            <div class="form-group">
              {{ form_row(form.profilePicture) }}
            </div>
            <div class="form-group">
              {{ form_row(form.emailNotification) }}
            </div>
            <div class="form-group">
              {{ form_row(form.preferredLocale) }}
            </div>
            <div class="form-group">
                {{ form_row(form.imperial) }}
            </div>
              <div class="form-group">
              {{ form_row(form.homePark) }}
            </div>
              <div class="form-group">
                  {{ form_row(form.displayReviewsInAllLanguages) }}
              </div>
            <div class="form-group">
              {{ form_row(form.addTodayDateWhenRating) }}
            </div>
            <fieldset class="content-group">
              <legend>{{ 'me.form.advanced'|trans }}</legend>
              <div class="form-group">
                {{ form_row(form.apiKey) }}
              </div>
            </fieldset>
            <button type="submit" class="btn bg-teal-400 btn-labeled btn-labeled-right pull-right">
              <b><i class="icon-circle-right2"></i></b>
              {{ 'me.form.save'|trans }}
            </button>
            <div class="row">
              <div class="col-xs-6 text-right">

              </div>
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
          </div>
        </div>
        <!-- /preferences form -->
      </div>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-12">
          <!-- stats -->
          {% include 'Profile/user_stats.html.twig' with {'stats': stats} only %}
          <!-- stats -->
          <!-- banner -->
          <div class="panel">
            <div class="panel-body">
              <h4 class="content-group-lg">
                {{ 'me.banner.title'|trans }}
                <small class="display-block">{{ 'me.banner.text'|trans }}</small>
              </h4>
              <div id="my-banner" class="text-center content-group">
                  {% include 'Profile/banner.html.twig' with {'user': user} only %}
              </div>
            </div>
          </div>
          <!-- banner -->
          <!-- badges -->
          <div class="panel panel-flat">
            <div class="panel-heading">
              <h3 class="panel-title">{{ 'me.badge'|trans }}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-sm-6 text-center" style="margin-bottom: 40px;">
                  <img src="{{ asset('images/badges/bienvenue-'~app.request.locale~'.png') }}"/>
                </div>
                {% for badge in user.badges %}
                  <div class="col-md-3 col-sm-6 text-center" style="margin-bottom: 40px;">
                    <img src="{{ asset('images/badges/'~badge.filename(app.request.locale)) }}"/>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <!-- /badges -->
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  <script type="application/javascript">
      function loadBanner() {
          $.ajax({
              url: Routing.generate('profile_banner', {'_locale': '{{ app.request.locale }}'}),
              type: 'GET'
          }).done(function (data) {
              $('#my-banner').html(data);
          });
      }
      loadBanner();
  </script>
{% endblock %}
