{% extends "base.html.twig" %}

{% set title = 'profile.settings.title'|trans %}
{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-sm-3">
      <div class="row">
        {% include 'Profile/_menu.html.twig' with {'user': user, 'images_counter': images_counter} only %}
      </div>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-12">
          <!-- settings form -->
          <div class="panel panel-flat">
            <div class="panel-heading">
              <h6 class="panel-title">{{ 'profile.settings.title'|trans }}</h6>
            </div>
            <div class="panel-body">
              {% if not canChangeName %}
                <div class="alert alert-warning">
                  {{ 'profile.settings.name.change_limit'|trans }}
                </div>
              {% endif %}

              {{ form_start(form) }}

              <fieldset class="content-group">
                <legend>{{ 'profile.settings.sections.name'|trans }}</legend>

                <div class="form-group">
                  {{ form_label(form.firstName) }}
                  {{ form_widget(form.firstName) }}
                  {{ form_errors(form.firstName) }}
                </div>

                <div class="form-group">
                  {{ form_label(form.lastName) }}
                  {{ form_widget(form.lastName) }}
                  {{ form_errors(form.lastName) }}
                </div>

                <div class="form-group">
                  {{ form_label(form.displayNameFormat) }}
                  {{ form_widget(form.displayNameFormat) }}
                  {{ form_errors(form.displayNameFormat) }}
                  <small class="text-muted">{{ 'profile.settings.name.format.help'|trans }}</small>
                </div>

                <div class="form-group">
                  {{ form_label(form.profilePicture) }}
                  {{ form_widget(form.profilePicture) }}
                  {{ form_errors(form.profilePicture) }}
                </div>
              </fieldset>

              <fieldset class="content-group">
                <legend>{{ 'profile.settings.sections.preferences'|trans }}</legend>

                <div class="form-group">
                  {{ form_label(form.emailNotification) }}
                  {{ form_widget(form.emailNotification) }}
                  {{ form_errors(form.emailNotification) }}
                </div>

                <div class="form-group">
                  {{ form_label(form.preferredLocale) }}
                  {{ form_widget(form.preferredLocale) }}
                  {{ form_errors(form.preferredLocale) }}
                </div>

                <div class="form-group">
                  {{ form_label(form.imperial) }}
                  {{ form_widget(form.imperial) }}
                  {{ form_errors(form.imperial) }}
                </div>

                <div class="form-group">
                  {{ form_label(form.homePark) }}
                  {{ form_widget(form.homePark) }}
                  {{ form_errors(form.homePark) }}
                </div>

                <div class="toggle-switch-form-group" data-controller="toggle-switch">
                  {{ form_row(form.displayReviewsInAllLanguages, {'attr': {'class': 'toggle-input', 'data-toggle-switch-target': 'checkbox', 'data-action': 'toggle-switch#toggle'}}) }}
                </div>

                <div class="toggle-switch-form-group" data-controller="toggle-switch">
                  {{ form_row(form.addTodayDateWhenRating, {'attr': {'class': 'toggle-input', 'data-toggle-switch-target': 'checkbox', 'data-action': 'toggle-switch#toggle'}}) }}
                </div>
              </fieldset>

              <fieldset class="content-group">
                <legend>{{ 'profile.settings.sections.advanced'|trans }}</legend>

                <div class="form-group">
                  {{ form_label(form.apiKey) }}
                  {{ form_widget(form.apiKey) }}
                  {{ form_errors(form.apiKey) }}
                </div>
              </fieldset>

              <button type="submit" class="btn bg-teal-400 btn-labeled btn-labeled-right pull-right">
                <b>{{ ux_icon('heroicons:arrow-right-circle', {'class': 'w-6 h-6'}) }}</b>
                {{ 'profile.settings.save'|trans }}
              </button>

              {{ form_rest(form) }}
              {{ form_end(form) }}
            </div>
          </div>
          <!-- /settings form -->
        </div>
      </div>
    </div>
  </div>
{% endblock %}
