{% extends "base.html.twig" %}

{% set title = 'search_index.title'|trans %}
{% block title %}{{ title }}{% endblock %}

{% set pageHasFilters = true %}

{% block secondary_sidebar %}
  <div class="sidebar sidebar-secondary sidebar-default">
    <div class="sidebar-content">
      <form action="#">
        {% if is_granted('ROLE_USER') %}
          <input name="filters[user]" type="hidden" value="{{ app.user.id }}">
        {% endif %}
        <input id="form-latitude" name="filters[latitude]" type="hidden">
        <input id="form-longitude" name="filters[longitude]" type="hidden">
        <!-- Sidebar search -->
        <div class="sidebar-category">
          <div class="category-content">
            <div class="form-group">
              <input type="text" class="form-control" name="filters[name]"
                     placeholder="Name"
                     onkeyup="filterData();">
            </div>
            <div class="form-group">
              <select class="form-control" name="filters[openingDate]" onchange="filterData();">
                <option value="">{{ 'map_index.filter.openingDate'|trans }}</option>
                {% for filter in filtersForm.openingDate %}
                  <option value="{{ filter.year }}">{{ filter.year }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <select class="form-control" name="filters[score]" onchange="filterData();">
                <option value="">{{ 'map_index.filter.score'|trans }}</option>
                {% for i in range(10, 90, 10) %}
                  <option value="{{ i }}">{{ 'map_index.filter.atleast'|transchoice(i) }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <div class="checkbox checkbox-right checkbox-switchery switchery-xs">
                <label class="display-block">
                  {{ 'map_index.filter.notridden'|trans }}
                  <input name="filters[notridden]" type="checkbox" class="switchery"
                         onchange="filterData();"
                         {% if not is_granted('ROLE_USER') %}disabled="disabled"{% endif %}>
                </label>
              </div>
            </div>
            <div class="form-group">
              <select class="form-control" name="filters[manufacturer]" onchange="filterData();">
                <option value="">Manufacturer</option>
                {% for filter in filtersForm.manufacturer %}
                  <option value="{{ filter.id }}">{{ filter.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block body %}
  <div id="search-result"></div>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function (position) {
              $("#form-latitude").val(position.coords.latitude);
              $("#form-longitude").val(position.coords.longitude);
              filterData();
          }, function (position) {
              console.log(position);
              filterData();
          });
      } else {
          filterData();
      }

      function filterData() {
          var url = Routing.generate('search_coasters_ajax', {'_locale': '{{ app.request.locale }}'});
          $.ajax({
              url: url,
              type: "GET",
              data: $("form").serialize()
          }).done(function (data) {
              $('#search-result').html(data);
              ajaxPager();
          });
      }

      var ajaxPager = function () {
          $("ul.pagination a").click(function (e) {
              e.preventDefault();
              var pageUrl = $(this).attr('href');

              $.ajax({
                  url: pageUrl,
                  type: 'GET',
                  dataType: 'html'
              }).done(function (data) {
                  $('#search-result').html(data);
                  ajaxPager();
              });
          });
      };
  </script>
{% endblock %}
