<html>
<head>
    <script type="text/javascript" src="{{ asset('js/core/libraries/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/select2/js/select2.min.js') }}"></script>
    <link href="{{ asset('js/plugins/select2/css/select2.min.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
{{ form_start(form) }}

<h3>Top 10 Coaster de {{ app.user.firstname }}</h3>
<ul class="top-coaster sortable" data-prototype="{{ form_widget(form.topCoasters.vars.prototype)|e('html_attr') }}">
    {% for topCoaster in form.topCoasters %}
        <li class="drop">{{ form_row(topCoaster) }}</li>
    {% endfor %}
</ul>
{{ form_end(form) }}
<script type="text/javascript">
    var $collectionHolder;

    // setup an "add a tag" link
    var $addTagLink = $('<a href="#" class="add_tag_link">Add a tag</a>');
    var $newLinkLi = $('<li></li>').append($addTagLink);

    jQuery(document).ready(function () {
        // Get the ul that holds the collection of tags
        $collectionHolder = $('ul.top-coaster');

        // add a delete link to all of the existing tag form li elements
        $collectionHolder.find('li').each(function () {
            addTagFormDeleteLink($(this));
        });

        // add the "add a tag" anchor and li to the tags ul
        $collectionHolder.append($newLinkLi);

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionHolder.data('index', $collectionHolder.find(':input').length);

        $addTagLink.on('click', function (e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addTagForm($collectionHolder, $newLinkLi);
        });
    });

    function addTagForm($collectionHolder, $newLinkLi) {
        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');

        // get the new index
        var index = $collectionHolder.data('index');

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a tag" link li
        var $newFormLi = $('<li></li>').append(newForm);
        $newLinkLi.before($newFormLi);

        // add a delete link to the new form
        addTagFormDeleteLink($newFormLi);
    }

    function addTagFormDeleteLink($tagFormLi) {
        var $removeFormA = $('<a href="#">delete this tag</a>');
        $tagFormLi.append($removeFormA);

        $removeFormA.on('click', function (e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // remove the li for the tag form
            $tagFormLi.remove();
        });
    }
</script>
<script type="text/javascript" src="{{ asset('js/plugins/htmlsortable/html.sortable.min.js') }}"></script>
<script type="text/javascript">
    sortable('.sortable');
    sortable('.sortable')[0].addEventListener('sortupdate', function (e) {
        var i = 1;
        $('input[id$="position"]').each(function () {
            console.log($(this));
            $(this).val(i);
            i = i + 1;
        });
    });
</script>
<script type="text/javascript">
    $('select').select2();
</script>
</body>
</html>