{% extends "base.html.twig" %}

{% set title = topName %}
{% block title %}{{ title }}{% endblock %}

{% set showSearchBar = 0 %}

{% form_theme form _self %}

{% block _top_topCoasters_entry_widget %}
  <li class="media">
    {{ form_widget(form) }}

    <div class="media-left media-middle ui-handle" style="cursor: grab;">
      <i class="icon-three-bars"></i>
    </div>
    <div class="media-left media-middle">
        <textarea class="position label label-rounded label-primary" style="resize:none; height: 22px; width: 50px;">{% if form.vars.data is not null %}{{ form.vars.data.position }}{% else %}empty{% endif %}</textarea>
    </div>

    <div class="media-body">
      <h4>
        {{ form.vars.data.coaster.name|default('__coastername__') }}
        {% if form.vars.data is not null %}
          -
          {{ form.vars.data.coaster.park.name|default('') }}
          ({{ app.user.rating(form.vars.data.coaster).value|default('N/A') }})
        {% endif %}
      </h4>
    </div>

    <div class="media-right media-middle">
      <a class="remove-line"><i class="icon-cross3"></i></a>
    </div>
  </li>
{% endblock %}

{% block body %}
  <div class="panel panel-flat">
    <select class="js-data-example-ajax" 
            data-controller="enhanced-select"
            data-enhanced-select-searchable-value="true"
            data-enhanced-select-placeholder-value="{{ 'top.find'|trans }}">
        <option value="">{{ 'top.find'|trans }}</option>
    </select>
  </div>
  {{ form_start(form) }}
  <div class="panel panel-flat">
    <div class="panel-heading">
      <span class="panel-title">
        {{ 'top.info'|trans }}
      </span>
      {% if form.vars.errors is not empty %}
        <div class="alert alert-danger alert-styled-left alert-dismissible">
          {{ form_errors(form) }}
        </div>
      {% endif %}
    </div>
    <div class="panel-body">
      <ul id="top-coaster"
          data-prototype="{{ form_widget(form.topCoasters.vars.prototype)|e('html_attr') }}"
          class="media-list media-list-container ui-sortable">
        {% for coaster in form.topCoasters %}
          {{ form_widget(coaster) }}
        {% endfor %}
      </ul>
    </div>
  </div>
  <button type="submit" class="btn bg-teal-400 btn-labeled pull-right">
    <b><i class="icon-pencil3"></i></b> {{ 'top.save'|trans }}
  </button>
  {{ form_rest(form) }}
  {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
      var $collectionHolder;

      jQuery(document).ready(function () {
          // Get the ul that holds the collection of tags
          $collectionHolder = $('ul#top-coaster');
          $collectionHolder.data('index', $collectionHolder.find('li').length);

          $(".ui-sortable").sortable({
              update: function (event, ui) {
                  updatePosition();
              },
              handle: ".ui-handle",
          });
      });

      function addTagForm($collectionHolder, data) {
          var prototype = $collectionHolder.data('prototype');
          var index = $collectionHolder.data('index');
          var newForm = prototype.replace(/__name__/g, index);
          newForm = newForm.replace(/__coastername__/g, data.text);
          $collectionHolder.data('index', index + 1);
          $collectionHolder.append(newForm);

          $("#top_topCoasters_" + index + "_coaster").val(data.id);

          updatePosition();
      }

      $('ul#top-coaster').on('click', '.remove-line', function(e) {
          $(this).closest('li').remove();
          updatePosition();
      });

      $('ul#top-coaster').on('blur', '.position', function(e) {
          let textValue = parseInt($(this)[0].value.trim());
          let pos = textValue - 2;

          if(textValue > $('ul#top-coaster li').length) {
              pos = $('ul#top-coaster li').length - 1;
              $(this).val($('ul#top-coaster li').length);
          }
          else if(textValue > $(this).closest('li').index()) {
              pos = textValue - 1;
          }

          if(pos < 0) {
              $('ul#top-coaster').prepend($(this).closest('li'));
          }
          else {
              $(this).closest('li').insertAfter("ul#top-coaster li:eq(" + pos + ")");
          }

          updatePosition();
      });

      function updatePosition() {
          $("input[id$='position']").each(function (i) {
              i++;
              $(this).val(i);
          });
          $("textarea.position").each(function (i) {
              i++;
              $(this).val(i);
          });
      }

      // Handle Select2 selection via Stimulus controller events
      jQuery("select").on("select2:select", function (evt) {
          addTagForm($collectionHolder, evt.params.data);
      });

      $('textarea').keypress(function(e) {
          var a = [];
          var k = e.which;

          for (i = 48; i < 58; i++)
              a.push(i);

          if (!(a.indexOf(k)>=0))
              e.preventDefault();
      });
  </script>
  <script type="text/javascript" src="{{ asset('js/plugins/touch-punch/jquery.ui.touch-punch.min.js') }}"></script>
{% endblock %}
