{% extends 'layouts/base.html.twig' %}

{% if create == true %}
  {% set title = 'new.title'|trans({}, 'top') %}
  {% set submitLabel = 'new.form.submit'|trans({}, 'top') %}
{% else %}
  {% set title = 'editDetails.title'|trans({}, 'top') %}
  {% set submitLabel = 'editDetails.form.submit'|trans({}, 'top') %}
{% endif %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
  <div class="bg-white dark:bg-neutral-900 rounded-2xl shadow-sm overflow-hidden">
    <div class="p-6">
      {{ form_start(form) }}
      {{ form_row(form.name) }}
      {{ form_row(form.type) }}
      {{ form_row(form.save, {'label': submitLabel}) }}
      {{ form_rest(form) }}
      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}
