{% extends "base.html.twig" %}

{% import "helper.html.twig" as helper %}

{% set title = 'top.list.title'|trans %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
  <div class="row">
    {% for top in tops %}
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <div class="caption">
            <div class="content-group-sm media">
              <div class="media-left">
                {{ helper.profilePicture(top.user) }}
              </div>
              <div class="media-body">
                <h6 class="text-semibold no-margin">
                  {% if top.main %}<i class="icon-checkmark3 text-size-mini position-left"></i>{% endif %}
                  <a href="{{ path('top_show', {'id': top.id}) }}" class="text-default">
                    {{ top.name }}
                  </a>
                </h6>
                <small class="text-muted">
                  {{ 'top.list.by'|trans }}
                  <a href="{{ path('user_show', {'slug': top.user.slug}) }}">
                    {{ top.user.displayName }}
                  </a>
                </small>
              </div>
            </div>
            <ul class="list-feed">
              {% for topCoaster in top.topCoasters|slice(0,3) %}
                <li>
                  {{ topCoaster.position }} -
                    <a href="{{ path('show_coaster', {'id': topCoaster.coaster.id, 'slug': topCoaster.coaster.slug}) }}"
                     class="text-default">
                    {{ topCoaster.coaster.name }}
                  </a>
                </li>
              {% endfor %}
            </ul>
            <div class="media">
              <a href="{{ path('top_show', {'id': top.id}) }}">
                <i class="icon-circle-right2"></i> {{ 'top.list.more'|trans }}
              </a>
            </div>
            <ul class="list-inline media">
              <li><i class="icon-stack3 position-left"></i> {{ top.topCoasters|length }}</li>
              <li>
                <i class="icon-alarm position-left"></i> {{ 'top.list.updated'|trans }} {{ top.updatedAt|ago }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  {{ knp_pagination_render(tops) }}
{% endblock %}

