{% extends "base.html.twig" %}

{% set title = top.name %}
{% set subTitle = top.user.displayName %}
{% block title %}{{ title }} - {{ subTitle }}{% endblock %}

{% block body %}
  <div class="panel panel-white panel-flat">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-8">
          <ul class="list-inline no-margin">
            <li>{{ heroicon('square-3-stack-3d', 'w-6 h-6 position-left') }} {{ top.topCoasters|length }}</li>
            <li>
              {{ heroicon('user', 'w-6 h-6 position-left') }}
              <a href="{{ path('user_show', {'slug': top.user.slug}) }}">{{ top.user.displayName }}</a>
            </li>
            <li>
              {{ heroicon('clock', 'w-6 h-6 position-left') }}
              {{ 'list.updated'|trans({}, 'top') }} {{ top.updatedAt|ago }}
            </li>
          </ul>
        </div>
        {% if is_granted('edit', top) or is_granted('delete', top) %}
          <div class="col-sm-4 text-right">
            {% if is_granted('edit', top) %}
              <a href="{{ path('top_edit', {'id': top.id}) }}" class="btn bg-primary-400 btn-sm">
                {{ heroicon('pencil', 'w-5 h-5') }}
              </a>
            {% endif %}
            {% if is_granted('delete', top) %}
              <a href="{{ path('top_delete', {'id': top.id}) }}"
                 onclick="return confirm('{{ 'delete_confirmation'|trans({}, 'top') }}');"
                 class="btn bg-danger-400 btn-sm">
                {{ heroicon('trash', 'w-5 h-5') }}
              </a>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>

    <ul class="media-list">
      {% for topCoaster in top.topCoasters %}
        {% set coaster = topCoaster.coaster %}
        <li class="media panel-body stack-media-on-mobile">
          <div class="media-left">
            <a href="{{ path('show_coaster', {'id': coaster.id, 'slug': coaster.slug}) }}">
              {% if coaster.mainImage is not null %}
                <img src="{{ pictures_cdn }}/280x210/{{ coaster.mainImage.filename }}"
                     class="img-rounded"
                     style="width:96px;"
                     alt="{{ coaster.name }}">
              {% endif %}
            </a>
          </div>

          <div class="media-body">
            <h2 class="media-heading text-semibold">
              <a style="color:#333;" href="{{ path('show_coaster', {'id': coaster.id, 'slug': coaster.slug}) }}">
                {{ topCoaster.position }}&nbsp;-&nbsp;{{ coaster.name }}
              </a>
            </h2>

            <ul class="list-inline list-inline-separate text-muted mb-10">
              {% if coaster.manufacturer %}
                <li>
                  <a class="text-muted" href="{{ path('ranking_index', {'filters[manufacturer]': coaster.manufacturer.id}) }}">
                    {{ coaster.manufacturer.name }}
                  </a>

                </li>
              {% endif %}
              <li>
                <a class="text-muted" href="{{ path('park_show', {'id': coaster.park.id, 'slug': coaster.park.slug}) }}">
                  {{ coaster.park.name }}, {{ coaster.park.country.name|trans([], 'database') }}
                </a>
              </li>
            </ul>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>

{% endblock %}
