{% extends "base.html.twig" %}

{% set title = top.name %}
{% set subTitle = top.user.displayName %}
{% block title %}{{ title }} - {{ subTitle }}{% endblock %}

{% block body %}
  <div class="panel panel-white panel-flat">
    <div class="panel-heading">
      <ul class="list-inline no-margin">
        <li><i class="icon-stack3 position-left"></i> {{ top.topCoasters|length }}</li>
        <li>
          <i class="icon-alarm position-left"></i>
          {{ 'top.list.updated'|trans }} {{ top.updatedAt|ago }}
        </li>
      </ul>
      <div class="heading-elements visible-elements">
        {% if is_granted('edit', top) %}
          <a class="heading-text" href="{{ path('top_edit', {'id': top.id}) }}">
            {{ 'top.update'|trans }}
          </a>
        {% endif %}
        {% if is_granted('edit-details', top) %}
          <a class="heading-text" href="{{ path('top_edit_details', {'id': top.id}) }}">
            {{ 'top.update_details'|trans }}
          </a>
        {% endif %}
        {% if is_granted('delete', top) %}
          <a class="heading-text" href="{{ path('top_delete', {'id': top.id}) }}"
             onclick="return confirm('{{ 'top.delete_confirmation'|trans }}');">
            {{ 'top.delete'|trans }}
          </a>
        {% endif %}
      </div>
    </div>

    <ul class="media-list">
      {% for topCoaster in top.topCoasters %}
        {% set coaster = topCoaster.coaster %}
        <li class="media panel-body stack-media-on-mobile">
          <div class="media-left">
            <a href="{{ path('bdd_show_coaster', {'slug': coaster.slug}) }}">
              {% if coaster.mainImage is not null %}
                <img src="{{ coaster.mainImage.path | imagine_filter('thumb_coaster') }}"
                     class="img-rounded"
                     style="width:96px;"
                     alt="{{ coaster.name }}">
              {% endif %}
            </a>
          </div>

          <div class="media-body">
            <h2 class="media-heading text-semibold">
              <a style="color:#333;" href="{{ path('bdd_show_coaster', {'slug': coaster.slug}) }}">
                {{ topCoaster.position }}&nbsp;-&nbsp;{{ coaster.name }}
              </a>
            </h2>

            <ul class="list-inline list-inline-separate text-muted mb-10">
              {% if coaster.manufacturer %}
                <li>
                  <a class="text-muted" href="{{ path('ranking_index', {'filters[manufacturer]': coaster.manufacturer.id}) }}">
                    {{ coaster.manufacturer.name }}
                  </a>

                </li>
              {% endif %}
              <li>
                <a class="text-muted" href="{{ path('park_show', {'slug': coaster.park.slug}) }}">
                  {{ coaster.park.name }}, {{ coaster.park.country.name|trans([], 'database') }}
                </a>
              </li>
            </ul>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  {% if is_granted('edit', top) %}
    <div class="mr-10 mb-10 pull-right">
      <a href="{{ path('top_edit', {'id': top.id}) }}">
        <button type="button" class="btn bg-primary btn-labeled">
          <b><i class="icon-pencil3"></i></b> {{ 'top.update'|trans }}
        </button>
      </a>
    </div>
  {% endif %}
  {% if is_granted('edit-details', top) %}
    <div class="mr-10 mb-10 pull-right">
      <a href="{{ path('top_edit_details', {'id': top.id}) }}">
        <button type="button" class="btn bg-primary btn-labeled">
          <b><i class="icon-pencil3"></i></b> {{ 'top.update_details'|trans }}
        </button>
      </a>
    </div>
  {% endif %}
  {% if is_granted('delete', top) %}
    <div class="mr-10 mb-10 pull-right">
      <a href="{{ path('top_delete', {'id': top.id}) }}"
         onclick="return confirm('{{ 'top.delete_confirmation'|trans }}');">
        <button type="button" class="btn bg-danger btn-labeled">
          <b><i class="icon-cross3"></i></b> {{ 'top.delete'|trans }}
        </button>
      </a>
    </div>
  {% endif %}
{% endblock %}
