{% set qS = app.request.query.all %}
<div class="sidebar sidebar-secondary sidebar-default">
    <div class="sidebar-content">
        <form id="form-filter" action="#">
            <div class="sidebar-category">
                <div class="category-title">
                    <span>{{ 'map_index.filter.title'|trans }}</span>
                </div>

                <input id="form-user" name="filters[user]" type="hidden"
                       value="{{ filters.user|default(app.user.id|default('')) }}">

                <div class="category-content">
                    <div class="form-group">
                        <select class="form-control" name="filters[continent]" onchange="filterData();">
                            <option value="">{{ 'coaster_ranking.filter.continent'|trans }}</option>
                            {% for continent in filtersForm.continent %}
                                <option value="{{ continent.id }}"
                                        {% if qS.filters.continent is defined and qS.filters.continent == continent.id %}selected{% endif %}>
                                    {{ continent.name|trans({}, 'database') }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="filters[country]" onchange="filterData();">
                            <option value="">{{ 'coaster_ranking.filter.country'|trans }}</option>
                            {% for country in filtersForm.country %}
                                <option value="{{ country.id }}"
                                        {% if qS.filters.country is defined and qS.filters.country == country.id %}selected{% endif %}>
                                    {{ country.name|trans({}, 'database') }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group toggle-switch-form-group">
                        <div class="checkbox">
                            <label class="display-block">
                                {{ 'map_index.filter.status'|trans }}
                                <input name="filters[status]" type="checkbox"
                                    {% if qS.filters.status is defined and qS.filters.status == "on" %} checked{% endif %}>
                            </label>
                        </div>
                    </div>
                    <div class="form-group toggle-switch-form-group">
                        <div class="checkbox">
                            <label class="display-block">
                                {{ 'map_index.filter.notridden'|trans }}
                                <input name="filters[notridden]" type="checkbox"
                                    {% if not is_granted('ROLE_USER') %} disabled="disabled"{% endif %}
                                    {% if qS.filters.notridden is defined and qS.filters.notridden == "on" and is_granted('ROLE_USER') is defined %} checked{% endif %}>
                            </label>
                        </div>
                    </div>
                    <div class="form-group toggle-switch-form-group">
                        <div class="checkbox">
                            <label class="display-block">
                                {{ 'map_index.filter.new'|trans }}
                                <input name="filters[new]" type="checkbox"
                                    {% if qS.filters.new is defined and qS.filters.new == "on" %} checked{% endif %}>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="filters[materialType]" onchange="filterData();">
                            <option value="">{{ 'coaster_ranking.filter.materialType'|trans }}</option>
                            {% for type in filtersForm.materialType %}
                                <option value="{{ type.id }}"
                                        {% if qS.filters.materialType is defined and qS.filters.materialType == type.id %}selected{% endif %}>
                                    {{ type.name|trans({}, 'database') }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="filters[seatingType]" onchange="filterData();">
                            <option value="">{{ 'coaster_ranking.filter.seatingType'|trans }}</option>
                            {% for type in filtersForm.seatingType %}
                                <option value="{{ type.id }}"
                                        {% if qS.filters.seatingType is defined and qS.filters.seatingType == type.id %}selected{% endif %}>
                                    {{ type.name|trans({}, 'database') }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="filters[model]" onchange="filterData();">
                            <option value="">{{ 'coaster_ranking.filter.model'|trans }}</option>
                            {% for model in filtersForm.model %}
                                <option value="{{ model.id }}"
                                        {% if qS.filters.model is defined and qS.filters.model == model.id %}selected{% endif %}>
                                    {{ model.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="filters[manufacturer]" onchange="filterData();">
                            <option value="">{{ 'coaster_ranking.filter.manufacturer'|trans }}</option>
                            {% for type in filtersForm.manufacturer %}
                                <option value="{{ type.id }}"
                                        {% if qS.filters.manufacturer is defined and qS.filters.manufacturer == type.id %}selected{% endif %}>
                                    {{ type.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="filters[openingDate]" onchange="filterData();">
                            <option value="">{{ 'coaster_ranking.filter.openingDate'|trans }}</option>
                            {% for openingDate in filtersForm.openingDate %}
                                <option value="{{ openingDate.year }}"
                                        {% if qS.filters.openingDate is defined and qS.filters.openingDate == openingDate.year %}selected{% endif %}>
                                    {{ openingDate.year }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <input type="hidden" name="page" id="filter-page" value="{{ qS.page|default(1) }}">
        </form>
    </div>
</div>
