<div class="panel panel-flat">
  <div class="panel-heading has-visible-elements">
    <h6 class="panel-title">{{ 'coaster_ranking.info.title'|trans({'%rankingMonth%': ranking.computedAt|localizeddate('long', 'none')}) }}</h6>
    <div class="heading-elements visible-elements">
      {% if nextRankingDate %}
        <span class="heading-text text-muted">
          <i class="icon-history text-warning position-left"></i>
          {{ 'coaster_ranking.info.next'|trans({'%date%': nextRankingDate|ago}) }}
          </span>
      {% endif %}
      <span class="heading-text text-muted">
          <i class="icon-plus2 text-warning position-left"></i>
          <a class="text-muted" href="{{ path('ranking_learn_more') }}">Learn more about the ranking</a>
        </span>
    </div>
  </div>
  <div class="panel-body text-center">
    <div class="col-xs-3">
      <div class="content-group">
        <h6 class="text-semibold no-margin">
          <i class="icon-comments position-left text-slate"></i><br/>{{ ranking.rankedCoasterNumber }}&nbsp;
        </h6>
        <span class="hidden-xs text-muted text-size-small">{{ 'coaster_ranking.info.coasters_ranked'|trans }}</span>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="content-group">
        <h6 class="text-semibold no-margin">
          <i class="icon-stars position-left text-slate"></i><br/>{{ ranking.ratingNumber|shortNum }}
        </h6>
        <span class="hidden-xs text-muted text-size-small">{{ 'coaster_ranking.info.ratings'|trans }}</span>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="content-group">
        <h6 class="text-semibold no-margin">
          <i class="icon-users position-left text-slate"></i><br/>{{ ranking.userNumber }}
        </h6>
        <span class="hidden-xs text-muted text-size-small">{{ 'coaster_ranking.info.users'|trans }}</span>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="content-group">
        <h6 class="text-semibold no-margin">
          <i class="icon-git-compare position-left text-slate"></i><br/>{{ ranking.comparisonNumber|shortNum }}
        </h6>
        <span class="hidden-xs text-muted text-size-small">{{ 'coaster_ranking.info.comparisons'|trans }}</span>
      </div>
    </div>
  </div>
</div>
