{% extends "base_login.html.twig" %}

{% block title %}{{ 'register.title'|trans }} • {{ 'app.name'|trans }}{% endblock %}

{% block body %}
    <!-- Form with validation -->
    <div class="panel panel-body login-form">
        <div class="text-center mb-3">
            <div class="icon-object border-warning-400 text-warning-400"><i class="icon-key"></i></div>
            <h5 class="content-group-lg">{{ 'register.title'|trans }}
                <small class="display-block">{{ 'register.subtitle'|trans }}</small>
            </h5>
        </div>
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger alert-bordered">{{ flash_error }}</div>
        {% endfor %}

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.firstName) }}
        {{ form_row(registrationForm.lastName) }}

        {{ form_end(registrationForm) }}

        <span class="help-block text-center no-margin">
                            {{ 'login.terms'|trans({'%link_path%': path('default_privacy_policy')})|raw }}
                        </span>
    </div>
    <!-- /form with validation -->
{% endblock %}
