{% extends "base.html.twig" %}

{% set title = park.name %}
{% set subTitle = park.country.name|trans([], 'database') %}
{% block title %}{{ title }} - {{ subTitle }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-3">
            <!-- park stats -->
            <div class="panel panel-body panel-body-accent">
                <div class="media no-margin">
                    <div class="media-left media-middle">
                        <i class="icon-road icon-3x text-success-400"></i>
                    </div>

                    <div class="media-body text-right">
                        <h3 class="no-margin text-semibold">{{ park.openedCoasters|length }}</h3>
                        <span class="text-uppercase text-size-mini text-muted">
                            {{ 'park.opened_coasters'|transchoice(park.openedCoasters|length) }}
                        </span>
                    </div>
                </div>
            </div>
            <!-- /park stats -->
            <!-- coaster location -->
            {% if park.latitude and park.longitude %}
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h5 class="panel-title">{{ 'coaster.location'|trans }}</h5>
                    </div>
                    <div class="panel-body">
                        <div id="map-coaster" class="map-container" style="height:250px;"></div>
                    </div>
                </div>
            {% endif %}
            <!-- /coaster location -->
        </div>
        <div class="col-sm-9">
            <div class="row">
                {% for coaster in park.coasters %}
                    {% set image = images[coaster.id] %}
                    <div class="col-sm-4">
                        <div class="thumbnail border-bottom-xlg border-bottom-{{ coaster.status.type }}">
                            <div class="thumb">
                                <a href="{{ path('bdd_show_coaster', {'slug': coaster.slug}) }}">
                                    <img {% if image|length > 0 %}
                                        src="{{ asset(image.0) | imagine_filter('coaster_park_show') }}"
                                    {% else %}
                                        src="{{ asset('images/nophoto.png') }}"
                                    {% endif %}
                                            class="img-responsive img-rounded" alt="{{ coaster.name }}">
                                </a>
                            </div>
                            <div class="caption text-center">
                                <div class="content-group-sm media">
                                    <div class="media-body">
                                        <h6 class="text-semibold no-margin">
                                            <a href="{{ path('bdd_show_coaster', {'slug': coaster.slug}) }}"
                                               class="text-default">
                                                {{ coaster.name }}
                                            </a>
                                        </h6>
                                        <small class="text-muted">
                                            {{ coaster.builtCoaster.types|join(', ') }}
                                        </small>
                                    </div>
                                </div>
                                {% if coaster.isRateable %}
                                    {% if is_granted('ROLE_USER') %}
                                        <div class="rating-coaster"
                                             data-coaster="{{ coaster.id }}"
                                             data-rateit-value="{{ coaster.userRating(app.user).value|default(0) }}"
                                             style="font-size: 22px;"></div>
                                    {% else %}
                                        <p class="text-muted content-group-sm">
                                            {{ 'coaster.rating.mustlogin'|trans }}
                                        </p>
                                        <a href="{{ path('hwi_oauth_connect') }}">{{ 'coaster.rating.login'|trans }}</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% if park.latitude and park.longitude %}
        <script>
            function initMap() {
                var uluru = {lat: {{ park.latitude }}, lng: {{ park.longitude }}};
                var map = new google.maps.Map(document.getElementById('map-coaster'), {
                    zoom: 14,
                    center: uluru
                });
                var marker = new google.maps.Marker({
                    position: uluru,
                    map: map
                });
            }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9GhjdRtYf1BNtxx-rLJJwNl2n2CDUev4&callback=initMap">
        </script>
    {% endif %}
    <script src="{{ asset('js/plugins/rateit/jquery.rateit.min.js') }}"></script>
    <script type="text/javascript">
        $('document').ready(function () {
            $('.rating-coaster').rateit(
                {max: 5, step: 0.5, resetable: false, mode: 'font'}
            ).bind('rated', function () {
                var url = Routing.generate(
                    'rating_edit',
                    {'id': this.dataset.coaster, '_locale': '{{ app.request.locale }}'}
                );

                $.post(url, {value: $(this).rateit('value')}, function (response) {
                }, 'JSON');
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('js/plugins/rateit/rateit.css') }}">
{% endblock %}