{# Reviews fragment loaded via AJAX #}
<div class="panel panel-flat">
    <div class="panel-heading">
        <h6 class="panel-title">
            <span class="text-semibold">
                <i class="icon-bubbles4 position-left"></i> {{ 'coaster.reviews.title'|trans }}
                {% if reviews|length > 0 %}
                    <span class="badge badge-primary">{{ totalReviews }}</span>
                {% endif %}
            </span>
        </h6>
    </div>
    
    {% if reviews|length > 0 %}
        <div class="panel-body">
            {% for review in reviews %}
                <div class="media review-item {% if not loop.last %}border-bottom-1 border-alpha-grey pb-15 mb-15{% endif %}">
                    <div class="media-left">
                        <a href="{{ path('user_show', {'id': review.user.id, 'slug': review.user.slug}) }}">
                            {% if review.user.profilePicture %}
                                <img src="{{ review.user.profilePicture }}" 
                                     class="img-circle" 
                                     width="40" 
                                     height="40"
                                     alt="{{ review.user.displayName }}">
                            {% else %}
                                <div class="user-avatar-placeholder">
                                    {{ review.user.displayName|first|upper }}
                                </div>
                            {% endif %}
                        </a>
                    </div>
                    <div class="media-body">
                        <div class="media-heading">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h6 class="no-margin">
                                        <a href="{{ path('user_show', {'id': review.user.id, 'slug': review.user.slug}) }}" 
                                           class="text-semibold">
                                            {{ review.user.displayName }}
                                        </a>
                                    </h6>
                                    <div class="text-muted">
                                        <small>
                                            {% if review.riddenAt %}
                                                {{ 'coaster.review.ridden_on'|trans }} {{ review.riddenAt|date('M j, Y') }}
                                            {% endif %}
                                            • {{ review.updatedAt|time_diff }}
                                        </small>
                                    </div>
                                </div>
                                <div class="col-sm-4 text-right">
                                    <div class="rating-display">
                                        {% for i in 1..5 %}
                                            <i class="icon-star-full2 {% if i <= review.value %}text-warning-400{% else %}text-muted{% endif %}"></i>
                                        {% endfor %}
                                        <span class="text-muted ml-5">{{ review.value }}/5</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        {% if review.review %}
                            <div class="review-content mt-10">
                                <p class="no-margin">{{ review.review|nl2br }}</p>
                            </div>
                        {% endif %}
                        
                        {% if review.pros|length > 0 or review.cons|length > 0 %}
                            <div class="review-tags mt-10">
                                {% for pro in review.pros %}
                                    <span class="label label-success label-rounded mr-5 mb-5">
                                        {{ pro.name|trans([], 'database') }}
                                    </span>
                                {% endfor %}
                                {% for con in review.cons %}
                                    <span class="label label-danger label-rounded mr-5 mb-5">
                                        {{ con.name|trans([], 'database') }}
                                    </span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        
        {# Pagination #}
        {% if pagination.pageCount > 1 %}
            <div class="panel-footer">
                <div class="text-center">
                    <ul class="pagination pagination-sm">
                        {% if pagination.current > 1 %}
                            <li>
                                <a href="#" data-page="1" title="{{ 'pagination.first'|trans }}">
                                    <i class="icon-first"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-page="{{ pagination.current - 1 }}" title="{{ 'pagination.previous'|trans }}">
                                    <i class="icon-previous"></i>
                                </a>
                            </li>
                        {% endif %}
                        
                        {% for page in pagination.pagesInRange %}
                            <li {% if page == pagination.current %}class="active"{% endif %}>
                                <a href="#" data-page="{{ page }}">{{ page }}</a>
                            </li>
                        {% endfor %}
                        
                        {% if pagination.current < pagination.pageCount %}
                            <li>
                                <a href="#" data-page="{{ pagination.current + 1 }}" title="{{ 'pagination.next'|trans }}">
                                    <i class="icon-next"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-page="{{ pagination.pageCount }}" title="{{ 'pagination.last'|trans }}">
                                    <i class="icon-last"></i>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="panel-body text-center text-muted">
            <i class="icon-bubbles4 icon-2x"></i>
            <p class="mt-10">{{ 'coaster.reviews.no_reviews'|trans }}</p>
            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('review_form', {'id': coaster.id}) }}" class="btn btn-primary btn-sm">
                    {{ 'coaster.reviews.write_first'|trans }}
                </a>
            {% endif %}
        </div>
    {% endif %}
</div>