{% extends "base.html.twig" %}

{% set title = 'image_upload.title'|trans({'%coaster%': coaster.name}) %}
{% set openedSidebar = true %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="panel panel-flat">
        <div class="panel-body">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            <div class="form-group {% if form.file.vars.errors|length > 0 %}has-error{% endif %}">
                {{ form_label(form.file, "", {'label_attr': {'class': 'text-bold col-lg-2'}}) }}
                <div class="col-lg-10">
                    {{ form_widget(form.file, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.file) }}
                    <span class="help-block">{{ 'image_upload.form.file.helper'|trans }}</span>
                </div>
            </div>
            <div class="form-group {% if form.credit.vars.errors|length > 0 %}has-error{% endif %}">
                {{ form_label(form.credit, "", {'label_attr': {'class': 'text-bold col-lg-2'}}) }}
                <div class="col-lg-10">
                    {{ form_widget(form.credit) }}
                    {{ form_errors(form.credit) }}
                    <span class="help-block">{{ 'image_upload.form.credit.helper'|trans }}</span>
                </div>
            </div>
            <div class="form-group toggle-switch-form-group" data-controller="toggle-switch">
                {{ form_row(form.watermarked, {'attr': {'data-toggle-switch-target': 'checkbox', 'data-action': 'toggle-switch#toggle'}}) }}
                <span class="help-block">{{ 'image_upload.form.watermark.helper'|trans }}</span>
            </div>
            <div class="form-group">
                {{ form_widget(form.upload, {'attr': {'class': 'btn btn-primary'}}) }}
                <a href="{{ path('show_coaster', {'id': coaster.id, 'slug': coaster.slug}) }}" class="btn btn-warning">
                    {{ 'image_upload.form.back'|trans }}
                </a>
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('form').submit(function(){
            const $btn = $(this).find('button[type=submit]');
            $btn.prop('disabled', true).text('{{ 'image_upload.form.uploading'|trans }}');
        });
    </script>
{% endblock %}
