{% if coaster.images|length > 0 %}
    <div class="panel panel-flat border-top-blue">
      <div class="panel-heading">
        <h6>{{ 'coaster.photos.title'|trans }}</h6>
        <div class="pull-right text-muted">
          <a href="{{ path('coaster_images_upload', {'slug': coaster.slug}) }}">
            {{ 'coaster.photos.button'|trans }}
          </a>
          {% if number < coaster.images|length %}
            &nbsp;•&nbsp;<a id="show-all">{{ 'coaster.photos.all'|trans }}</a>
          {% endif %}
        </div>
      </div>
      <div class="panel-body no-border no-padding-top" 
           data-controller="gallery" 
           data-gallery-name-value="coaster-images"
           data-gallery="coaster-images">
        {% for image in coaster.images|slice(0, number) %}
          <div class="col-sm-3">
            <a class="m-10" href="{{ pictures_cdn }}/1440x1440/{{ image.filename }}"
               data-cropped-thumbnail="{{ pictures_cdn }}/280x210/{{ image.filename }}">
              <div class="thumb">
                <img src="{{ pictures_cdn }}/280x210/{{ image.filename }}"
                     alt="{{ coaster.name }}">
              </div>
            </a>
            <div class="text-size-small text-muted">
              <i
                  onclick="toggleLike(this, '{{ image.id }}');"
                  style="cursor: pointer;"
                  class="{% if image.id in userLikes %}icon-heart5{% else %}icon-heart6{% endif %} text-muted like-image">
              </i>&nbsp;{{ image.likeCounter }}
              {% if image.credit %}&nbsp;{{ image.credit }}{% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
{% else %}
    <div class="panel panel-flat border-top-blue">
      <div class="panel-heading">
        <h6>{{ 'coaster.photos.title'|trans }}</h6>
      </div>
      <div class="panel-body text-center">
        <p class="mb-15">{{ 'coaster.photos.empty'|trans }}</p>
        <a href="{{ path('coaster_images_upload', {'slug': coaster.slug}) }}" class="btn bg-primary-400">
          {{ 'coaster.photos.button'|trans }}
        </a>
      </div>
    </div>
{% endif %}
<script>
  function toggleLike(element, id) {
    $.ajax({
      url: Routing.generate('like_image_async', {
        'id': id,
        '_locale': '{{ app.request.locale }}',
      }),
      type: 'GET',
    }).done(function(data) {
      element.classList.toggle('icon-heart5');
      element.classList.toggle('icon-heart6');
    });
  }
</script>
