{% import "helper.html.twig" as helper %}

<div id="coaster-reviews" class="row">
    <!-- Comments -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title">
                <span class="text-semibold">
                    <i class="icon-bubble-lines4 position-left"></i> {{ 'review.title'|trans }}
                    &nbsp;<span class="badge bg-primary">{{ reviews.getTotalItemCount() }}</span>
                </span>
                {% if coaster.isRateable %}
                <div class="pull-right">
                    <a class="text-muted" href="{{ path('review_form', {'id': coaster.id}) }}">
                        <button type="button" class="btn btn-primary btn-rounded btn-xs"><i class="icon-plus22 position-left"></i> {{ 'review.send'| trans() }}</button>
                    </a>
                </div>
            {% endif %}
            </h6>

        </div>

        <div class="panel-body mt-5">
            <ul class="media-list media-list-bordered">
                {% for review in reviews %}
                    <li class="media">
                        {% include 'Includes/_review_item.html.twig' with {'review': review} %}
                    </li>
                {% else %}
                    <li class="text-center text-muted">
                        <i class="icon-comment-discussion position-left"></i>
                        {{ 'review_list.no_review'|trans }}
                    </li>
                {% endfor %}
            </ul>
            {{ knp_pagination_render(reviews) }}
        </div>
    </div>
    <!-- /comments -->
</div>
