{% import "helper.html.twig" as helper %}

<div class="row">
    <!-- Comments -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title text-semiold">
                {{ 'review.title'|trans }}
                &nbsp;<span class="badge badge-primary">{{ reviews|length }}</span>
            </h6>
            {% if coaster.isRateable %}
                <div class="pull-right">
                    <a class="text-muted" href="{{ path('review_form', {'id': reviews.0.coaster.id}) }}">
                        {{ 'review.send'|trans() }}
                    </a>
                </div>
            {% endif %}
        </div>

        <div class="panel-body">
            <ul class="media-list stack-media-on-mobile">
                {% for review in reviews %}
                    <li class="media">
                        <div class="media-left">
                            {{ helper.profilePicture(review.user, 'img-circle img-xs') }}
                        </div>

                        <div class="media-body">
                            <div class="media-heading">
                                <a href="{{ path('user_show', {'slug': review.user.slug}) }}">
                                    {{ review.user.displayName }}
                                </a>
                                <span class="media-annotation dotted">
                  <span class="text-warning">
                    {% set low = review.value|round(0, 'floor') %}
                      {% if low > 0 %}
                          {% for i in 1..low %}
                              <i class="icon-star-full2"></i>
                          {% endfor %}
                      {% endif %}
                      {% if low < review.value %}
                          <i class="icon-star-half"></i>
                      {% endif %}
                  </span>
                </span>
                                <span class="media-annotation dotted">
                  {{ review.updatedAt|ago }}
                </span>
                            </div>
                            {% if review.pros|length > 0 or review.cons|length > 0 %}
                                <p>
                                    {% for pros in review.pros %}
                                        <span
                                            class="label label-success label-rounded mb-5">{{ pros.name|trans([], 'database') }}</span>
                                    {% endfor %}
                                    {% for cons in review.cons %}
                                        <span
                                            class="label label-danger label-rounded mb-5">{{ cons.name|trans([], 'database') }}</span>
                                    {% endfor %}
                                </p>
                            {% endif %}
                            {% if review.review and review.language == app.request.locale %}
                                <p>{{ review.review }}</p>
                            {% endif %}
                            {% if is_granted('update', review) %}
                                <ul class="list-inline list-inline-separate text-size-small">
                                    <li>
                                        <a href="{{ path('review_form', {'id': review.coaster.id}) }}">{{ 'review.update'|trans }}</a>
                                    </li>
                                    <li>
                                        <a onclick="deleteRating({{ review.id }})">{{ 'review.delete'|trans }}</a>
                                    </li>
                                </ul>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% if coaster.isRateable %}
            <div class="panel-body">
                <a href="{{ path('review_form', {'id': reviews.0.coaster.id}) }}">
                    <button type="button" class="btn bg-blue">
                        <i class="icon-plus22"></i>
                        {{ 'review.send'| trans() }}
                    </button>
                </a>
            </div>
        {% endif %}
    </div>
    <!-- /comments -->
</div>
