{% extends "base.html.twig" %}

{% import "helper.html.twig" as helper %}

{% set title = coaster.name %}
{% set subTitle = coaster.park.name %}
{% block title %}{{ title }} • {{ subTitle }}{% endblock %}
{% if coaster.formerNames %}
    {% set secondaryTitle = coaster.formerNames|join(', ') %}
{% endif %}

{# {% block header %} #}
    {# <meta name="description" content="{{ coaster.name }} is a {{ coaster.manufacturer.name }} roller coaster"/> #}
{# {% endblock %} #}

{% block body %}
    <div class="row">
        <div class="col-sm-3">
            {% if coaster.isRateable %}
                <!-- score -->
                {% if coaster.score %}
                    <div class="panel panel-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="text-muted text-size-small text-uppercase" style="letter-spacing: 0.5px; margin-bottom: 8px;">
                                    {{ 'coaster.score.title'|trans }}
                                </div>
                                <div class="score-compact">
                                    <div>
                                        <span class="score-number">{{ coaster.score|number_format(1, ',') }}</span><span class="score-percent">%</span>
                                    </div>
                                </div>
                            </div>
                            {% set perPage = constant('App\\Controller\\RankingController::COASTERS_PER_PAGE') %}
                            {% set page = (coaster.rank / perPage)|round(0, 'ceil') %}
                            <div class="col-xs-6">
                                <a href="{{ path('ranking_index', {'page': page}) }}" class="text-default" style="text-decoration: none;">
                                    <div class="text-muted text-size-small text-uppercase" style="letter-spacing: 0.5px; margin-bottom: 8px;">
                                        {{ 'coaster.score.rank'|trans }}
                                    </div>
                                    <div style="font-size: 32px; font-weight: 700; line-height: 1; color: #111827;">#{{ coaster.rank }}</div>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <!-- /score -->
                {% include 'Coaster/_rating_panel.html.twig' with {'coaster': coaster, 'rating': rating, 'user': user} only %}
            {% endif %}
            <!-- main carac -->
            <div class="content-group">
                <div class="row row-seamless btn-block-group">
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-default btn-block btn-float btn-float-lg">
                            <div class="text-center">
                                {{ heroicon('arrow-trending-up', 'w-12 h-12 text-warning-600', 'outline') }}
                                <div class="text-bold mt-5">
                                    {% if coaster.height is not empty %}
                                        {{ units.m_or_f(coaster.height) }}
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </div>
                            </div>
                        </button>
                        <button type="button" class="btn btn-default btn-block btn-float btn-float-lg">
                            <div class="text-center">
                                {{ heroicon('rocket-launch', 'w-12 h-12 text-success-400', 'outline') }}
                                <div class="text-bold mt-5">
                                    {% if coaster.speed is not empty %}
                                        {{ units.kph_or_mph(coaster.speed) }}
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-default btn-block btn-float btn-float-lg">
                            <div class="text-center">
                                {{ heroicon('arrows-right-left', 'w-12 h-12 text-blue', 'outline') }}
                                <div class="text-bold mt-5">
                                    {% if coaster.length is not empty %}
                                        {{ units.m_or_f(coaster.length) }}
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </div>
                            </div>
                        </button>
                        <button type="button" class="btn btn-default btn-block btn-float btn-float-lg">
                            <div class="text-center">
                                {{ heroicon('arrow-path-rounded-square', 'w-12 h-12 text-danger-400', 'outline') }}
                                <div class="text-bold mt-5">
                                    {{ coaster.inversionsNumber|default('0') }}
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            {% if countRatings %}
                {% include 'Coaster/_rating_distribution.html.twig' with {'countRatings': countRatings} only %}
            {% endif %}
            <!-- /main carac -->
            <!-- coaster details -->
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h6>
                        {{ 'coaster.infos.title'|trans({'%name%': coaster.name}) }}
                    </h6>
                </div>
                <div class="list-group no-border">
                    {% if coaster.status %}
                        <div class="list-group-item">
                            <label class="control-label no-margin text-semibold">{{ 'coaster.infos.status'|trans }}
                                :</label>
                            <div class="pull-right">
              <span class="label label-{{ coaster.status.type }} bg-{{ coaster.status.type }}">
                  {{ coaster.status.name|trans([], 'database') }}
              </span>
                            </div>
                        </div>
                    {% endif %}
                    {% if coaster.park %}
                        <div class="list-group-item">
                            <label class="control-label no-margin text-semibold">{{ 'coaster.infos.park'|trans }}
                                :</label>
                            <div class="pull-right">
                                <a href="{{ path('park_show', {'id': coaster.park.id, 'slug': coaster.park.slug}) }}">{{ coaster.park.name }}</a>
                            </div>
                        </div>
                    {% endif %}
                    {% if coaster.park.country %}
                        <div class="list-group-item">
                            <label class="control-label no-margin text-semibold">{{ 'coaster.infos.country'|trans }}
                                :</label>
                            <div class="pull-right">
                                <a href="{{ path('ranking_index', {'filters[country]': coaster.park.country.id}) }}">
                                    {{ coaster.park.country.name|trans([], 'database') }}</a>
                            </div>
                        </div>
                    {% endif %}
                    <div class="list-group-item">
                        <label class="control-label no-margin text-semibold">{{ 'coaster.infos.manufacturer'|trans }}
                            :</label>
                        <div class="pull-right">
                            {% if coaster.manufacturer %}
                                <a href="{{ path('ranking_index', {'filters[manufacturer]': coaster.manufacturer.id}) }}">
                                    {{ coaster.manufacturer.name }}</a>
                            {% else %}
                                <label>{{ 'data.unknown'|trans([], 'database') }}</label>
                            {% endif %}
                        </div>
                    </div>
                    {% if coaster.materialType %}
                        <div class="list-group-item">
                            <label
                                class="control-label no-margin text-semibold">{{ 'coaster.infos.materialType'|trans }}
                                :</label>
                            <div class="pull-right">
                                <a href="{{ path('ranking_index', {'filters[materialType]': coaster.materialType.id}) }}">
                                    {{ coaster.materialType.name }}</a>
                            </div>
                        </div>
                    {% endif %}
                    {% if coaster.seatingType %}
                        <div class="list-group-item">
                            <label class="control-label no-margin text-semibold">{{ 'coaster.infos.seatingType'|trans }}
                                :</label>
                            <div class="pull-right">
                                <a href="{{ path('ranking_index', {'filters[seatingType]': coaster.seatingType.id}) }}">
                                    {{ coaster.seatingType.name }}</a>
                            </div>
                        </div>
                    {% endif %}
                    {% if coaster.model %}
                        <div class="list-group-item">
                            <label class="control-label no-margin text-semibold">{{ 'coaster.infos.model'|trans }}
                                :</label>
                            <div class="pull-right">
                                <a href="{{ path('ranking_index', {'filters[model]': coaster.model.id}) }}">
                                    {{ coaster.model.name }}</a>
                            </div>
                        </div>
                    {% endif %}
                    {% if coaster.kiddie %}
                        <div class="list-group-item">
                            <label class="control-label no-margin text-semibold">{{ 'coaster.infos.kiddie'|trans }}
                                :</label>
                            <div class="pull-right">{{ heroicon('check', 'w-4 h-4', 'outline') }}</div>
                        </div>
                    {% endif %}
                    {% if coaster.launchs|length > 0 %}
                        <div class="list-group-item">
                            <label class="control-label no-margin text-semibold">{{ 'coaster.infos.launch'|trans }}
                                :</label>
                            <div class="pull-right">
                                {% for launch in coaster.launchs %}
                                    {{ launch|trans([], 'database') }}
                                    {% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="list-group-item">
                        <label class="control-label no-margin text-semibold">{{ 'coaster.infos.restraint'|trans }}
                            :</label>
                        <div
                            class="pull-right">{{ coaster.restraint.name|default('data.unknown')|trans([], 'database') }}</div>
                    </div>
                    {% if coaster.openingDate %}
                        <div class="list-group-item">
                            <label class="control-label no-margin text-semibold">{{ 'coaster.infos.opening'|trans }}
                                :</label>
                            <div class="pull-right">
                                <a href="{{ path('ranking_index', {'filters[openingDate]': coaster.openingDate|date('Y') }) }}">
                                    {{ helper.displayDate(coaster.openingDate) }}</a>
                            </div>
                        </div>
                    {% endif %}
                    {% if coaster.closingDate %}
                        <div class="list-group-item">
                            <label class="control-label no-margin text-semibold">{{ 'coaster.infos.closing'|trans }}
                                :</label>
                            <div class="pull-right">
                                {{ helper.displayDate(coaster.closingDate) }}
                            </div>
                        </div>
                    {% endif %}
                    {% if coaster.indoor %}
                        <div class="list-group-item">
                            <label class="control-label no-margin text-semibold">{{ 'coaster.infos.indoor'|trans }}
                                :</label>
                            <div class="pull-right">{{ heroicon('check', 'w-4 h-4', 'outline') }}</div>
                        </div>
                    {% endif %}
                    {% if coaster.vr %}
                        <div class="list-group-item">
                            <label class="control-label no-margin text-semibold">{{ 'coaster.infos.vr'|trans }}:</label>
                            <div class="pull-right">{{ heroicon('check', 'w-4 h-4', 'outline') }}</div>
                        </div>
                    {% endif %}
                    {% if coaster.price and coaster.currency %}
                        <div class="list-group-item">
                            <label class="control-label no-margin text-semibold">{{ 'coaster.infos.cost'|trans }}
                                :</label>
                            <div class="pull-right">
                                {{ coaster.price|format_currency(coaster.currency, {fraction_digit: 0}) }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if coaster.youtubeId %}
            <a href="https://www.youtube.com/watch?v={{ coaster.youtubeId }}" target="_blank" class="youtube-thumbnail">
                <img src="https://img.youtube.com/vi/{{ coaster.youtubeId }}/maxresdefault.jpg" alt="Watch {{ coaster.name }} on YouTube" loading="lazy">
            </a>
            {% endif %}
            <!-- /coaster details -->
            <!-- coasters in park -->
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h6>
                        {{ 'coaster.parkcoaster'|trans({'%name%': coaster.park.name}) }}
                        &nbsp;<span class="badge badge-primary">{{ coaster.park.coasters|length }}</span>
                    </h6>
                </div>
                <div class="list-group no-border">
                    {% for otherCoaster in coasters %}
                        <div class="list-group-item">
                            <span class="status-mark border-{{ otherCoaster.status.type }} position-left"></span>
                            <a href="{{ path('show_coaster', {'id': otherCoaster.id, 'slug': otherCoaster.slug}) }}">
                                {{ otherCoaster.name }}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- /coasters in park -->
            <!-- coaster location -->
            <!-- removed until open street maps -->
            <!-- /coaster location -->
        </div>
        <div class="col-sm-9">
            <!-- AI Summary Section (loaded via AJAX) -->
            <div 
                data-controller="coaster-summary"
                data-coaster-summary-slug-value="{{ coaster.slug }}"
                data-coaster-summary-locale-value="{{ app.request.locale }}"
            >
                <div id="coaster-ai-summary" data-coaster-summary-target="container">
                    <div class="panel panel-flat mb-15">
                        <div class="panel-heading">
                            <h6 class="panel-title">
                                <span class="text-semibold">
                                    {{ heroicon('star', 'w-6 h-6 position-left', 'solid') }} Captain's Review
                                </span>
                            </h6>
                        </div>
                        <div class="panel-body text-center">
                            {{ heroicon('arrow-path', 'w-6 h-6 spinner text-muted', 'outline') }}
                            <span class="text-muted ml-5">Loading AI summary...</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Photos Section (loaded via AJAX with Stimulus) -->
            <div 
                data-controller="coaster-images"
                data-coaster-images-slug-value="{{ coaster.slug }}"
                data-coaster-images-locale-value="{{ app.request.locale }}"
                data-coaster-images-total-images-value="{{ coaster.images|length }}"
            >
                <div id="coaster-photos" data-coaster-images-target="container">
                    <div class="panel panel-flat mb-15">
                        <div class="panel-heading">
                            <h6 class="panel-title">
                                <span class="text-semibold">
                                    {{ heroicon('photo', 'w-6 h-6 position-left', 'outline') }} Photos
                                </span>
                            </h6>
                        </div>
                        <div class="panel-body text-center">
                            {{ heroicon('arrow-path', 'w-6 h-6 spinner text-muted', 'outline') }}
                            <span class="text-muted ml-5">Loading photos...</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Reviews Section (loaded via AJAX with Stimulus) -->
            <div 
                data-controller="coaster-reviews"
                data-coaster-reviews-slug-value="{{ coaster.slug }}"
                data-coaster-reviews-locale-value="{{ app.request.locale }}"
            >
                <div id="coaster-reviews" data-coaster-reviews-target="container">
                    <div class="panel panel-flat mb-15">
                        <div class="panel-heading">
                            <h6 class="panel-title">
                                <span class="text-semibold">
                                    {{ heroicon('chat-bubble-left-right', 'w-6 h-6 position-left', 'outline') }} Reviews
                                </span>
                            </h6>
                        </div>
                        <div class="panel-body text-center">
                            {{ heroicon('arrow-path', 'w-6 h-6 spinner text-muted', 'outline') }}
                            <span class="text-muted ml-5">Loading reviews...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_scripts %}
    {# Load coaster-specific Webpack entry point BEFORE inline scripts #}
    {{ encore_entry_script_tags('coaster') }}
{% endblock %}



{% block javascripts %}
    {# All functionality now handled by Stimulus controllers #}
    {% include 'Coaster/rating-json-ld.html.twig' with {'coaster': coaster} only %}
{% endblock %}

{% block stylesheets %}
    {# Load coaster-specific CSS #}
    {{ encore_entry_link_tags('coaster') }}
{% endblock %}
