<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} • Coasters World</title>
    <!-- global css -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
          type="text/css">
    <link href="{{ asset('css/icons/icomoon/styles.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/core.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/components.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/colors.css') }}" rel="stylesheet" type="text/css">
    <!-- /global css -->
    <!-- additional css -->
    {% block stylesheets %}{% endblock %}
    <!-- /additional ccss -->
    <link rel="icon" sizes="32x32" href="{{ asset('cropped-favicon-32x32.png') }}"/>
    <!-- head js -->
    <script type="text/javascript" src="{{ asset('js/core/libraries/jquery.min.js') }}"></script>
    <!-- /head js -->
</head>
<body class="navbar-top sidebar-xs">
<!-- main navbar -->
{{ include('navbar.html.twig') }}
<!-- /main navbar -->
<!-- page container -->
<div class="page-container">
    <!-- page content -->
    <div class="page-content">
        <!-- main sidebar -->
        {{ include('sidebar.html.twig') }}
        <!-- /main sidebar -->
        <!-- main content -->
        <div class="content-wrapper">
            <!-- page header -->
            {{ include('page_header.html.twig', {'title': title, 'subTitle': subTitle}) }}
            <!-- /page header -->
            <!-- Content area -->
            <div class="content">
                {% block body %}{% endblock %}
                {{ include('footer.html.twig') }}
            </div>
            <!-- /content area -->
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
</div>
<!-- /page container -->
<!-- Core JS files -->
<script type="text/javascript" src="{{ asset('js/core/libraries/bootstrap.min.js') }}"></script>
<!-- /core JS files -->
<!-- Theme JS files -->
<script type="text/javascript" src="{{ asset('js/core/app.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/plugins/ui/ripple.min.js') }}"></script>
<!-- /theme JS files -->
<script type="text/javascript" src="{{ asset('js/plugins/typeahead/typeahead.bundle.min.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script>
    let url = Routing.generate('bdd_ajax_search_all_coaster');
    let dataSource = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        prefetch: url,
    });

    $('#search-coaster').typeahead({highlight: true}, {
        displayKey: 'name',
        source: dataSource.ttAdapter(),
        limit: 7,
    }).bind('typeahead:select', function (ev, suggestion) {
        window.location.href = Routing.generate('bdd_show_coaster', {slug: suggestion.slug});
    });
</script>
{% block javascripts %}{% endblock %}
</body>
</html>

