<!DOCTYPE html>
<html lang="{{ app.request.get('_locale') }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ 'app.title.default'|trans }}{% endblock %} • {{ 'app.name'|trans }}</title>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('apple-touch-icon-144x144.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset('apple-touch-icon-152x152.png') }}" />
    <link rel="icon" type="image/png" href="{{ asset('favicon-32x32.png') }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ asset('favicon-16x16.png') }}" sizes="16x16" />
    <meta name="application-name" content="{{ 'app.name'|trans }}"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    {#<meta name="msapplication-TileImage" content="mstile-144x144.png" />#}
    <link rel="manifest" href="{{ asset('manifest.json') }}">
    <!-- global css -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/icons/icomoon/styles.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/core.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/components.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/colors.min.css') }}" rel="stylesheet" type="text/css">
    <!-- /global css -->
    <!-- additional css -->
    {% block stylesheets %}{% endblock %}
    <!-- /additional css -->
</head>
<body class="navbar-top {% if openedSidebar is not defined %}sidebar-xs{% endif %}">
<!-- main navbar -->
{{ include('navbar.html.twig') }}
<!-- /main navbar -->
<!-- page container -->
<div class="page-container">
    <!-- page content -->
    <div class="page-content">
        <!-- main sidebar -->
        {{ include('sidebar.html.twig') }}
        <!-- /main sidebar -->
        <!-- main sidebar -->
        {% block secondary_sidebar %}{% endblock %}
        <!-- /main sidebar -->
        <!-- main content -->
        <div class="content-wrapper">
            {% block wide_body %}
            <!-- page header -->
            {{ include(
                'page_header.html.twig',
                {'title': title|default('Bienvenue !'), 'subTitle': subTitle|default(null)}
            ) }}
            <!-- /page header -->
            <!-- Content area -->
            <div class="content">
                {{ include('flashes.html.twig') }}

                {% block body %}{% endblock %}

                {{ include('footer.html.twig') }}
            </div>
            {% endblock %}
            <!-- /content area -->
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
</div>
<!-- /page container -->
<!-- Core JS files -->
<script type="text/javascript" src="{{ asset('js/core/libraries/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/core/libraries/bootstrap.min.js') }}"></script>
<!-- /core JS files -->
<!-- Theme JS files -->
<script type="text/javascript" src="{{ asset('js/core/libraries/jquery_ui/interactions.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/core/app.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/core/layout_fixed_custom.js') }}"></script>
<!-- /theme JS files -->
<script type="text/javascript" src="{{ asset('js/plugins/typeahead/typeahead.bundle.min.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script type="text/javascript">
    let url = Routing.generate('coaster_search_all_json', {'_locale': '{{ app.request.locale }}'});
    let dataSource = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        prefetch: url,
    });

    $('#search-coaster').typeahead({highlight: true}, {
        displayKey: 'name',
        source: dataSource.ttAdapter(),
        limit: 7,
    }).bind('typeahead:select', function (ev, suggestion) {
        window.location.href = Routing.generate(
            'bdd_show_coaster',
            {slug: suggestion.slug, '_locale': '{{ app.request.locale }}'}
        );
    });
</script>
{% block javascripts %}{% endblock %}
{% if app.environment != 'dev' %}
<script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-37300594-3', 'auto');
    ga('send', 'pageview');

</script>
{% endif %}
</body>
</html>

