<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="{{ path('bdd_index') }}">
            <img src="{{ asset('images/logo_light.png') }}" alt="Coasters World">
        </a>
        <ul class="nav navbar-nav visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>
    </div>
    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav">
            <li>
                <a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown language-switch">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    {% if app.request.locale == 'fr' %}Français{% else %}English{% endif %}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="english" href="{{ path('bdd_index', {'_locale': 'en'}) }}">English</a></li>
                    <li><a class="french" href="{{ path('bdd_index', {'_locale': 'fr'}) }}">Français</a></li>
                </ul>
            </li>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li class="dropdown dropdown-user">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        {% if app.user.profilePicture %}
                            <img src="{{ app.user.profilepicture }}" alt="{{ app.user.firstname }}">
                        {% else %}
                            <img src="{{ asset('images/default_user.png') }}" alt="{{ app.user.firstname }}">
                        {% endif %}
                        <span>{{ app.user.firstname }}</span>
                        <i class="caret"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="{{ path('me_ratings') }}"><i class="icon-stars"></i> Mes notes</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('logout') }}"><i class="icon-switch2"></i> Se déconnecter</a></li>
                    </ul>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('facebook_login') }}" data-popup="tooltip" title="All activity"><i
                                class="icon-lock display-block"></i></a>
                </li>
            {% endif %}
            <li>
                <p class="navbar-text"><span class="label label-flat border-white text-white">BETA</span></p>
            </li>
        </ul>
    </div>
</div>