{% extends "base_login.html.twig" %}

{% block title %}{{ 'login.title'|trans }} • {{ 'app.name'|trans }}{% endblock %}

{% block body %}
    <!-- Form with validation -->
    <div class="panel panel-body login-form">
        <div class="text-center mb-3">
            <div class="icon-object border-warning-400 text-warning-400"><i class="icon-key"></i></div>
            <h5 class="content-group-lg">{{ 'login.title'|trans }}
                <small
                    class="display-block">{{ 'login.subtitle'|trans }}</small>
            </h5>
        </div>
        {% if error %}
            <div class="alert alert-danger alert-bordered">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-bordered">
                    {{ message | raw }}
                </div>
            {% endfor %}
        {% endfor %}
        <form action="{{ path('login') }}" method="POST">
            <div class="form-group has-feedback has-feedback-left">
                <input type="email" name="email" class="form-control" placeholder="Email">
                <div class="form-control-feedback">
                    <i class="icon-mail5 text-muted"></i>
                </div>
            </div>
            <div class="form-group">
                <button type="submit"
                        class="btn bg-blue btn-block">{{ 'login.send_link'|trans }}</button>
            </div>
            <div
                class="form-group text-muted">{{ 'login.redirect_to_register'|trans({'%link_path%': path('app_register')})|raw }}</div>
        </form>
        <div class="content-divider text-muted form-group">
            <span>{{ 'login.or_sign_in_with'|trans }}</span>
        </div>
        <ul class="list-inline form-group list-inline-condensed text-center">
            <li>
                <a href="{{ path('connect_google_start') }}"
                   class="btn border-danger-800 text-danger-800 btn-flat btn-icon btn-rounded">
                    <i class="icon-google"></i>
                    {{ 'login.connect_with_google'|trans }}
                </a>
            </li>
        </ul>
        <span class="help-block text-center no-margin">
                            {{ 'login.terms'|trans({'%link_path%': path('default_privacy_policy')})|raw }}
                        </span>
    </div>
    <!-- /form with validation -->
{% endblock %}
