{% extends "base.html.twig" %}

{% set title = 'contact.title'|trans %}
{% set openedSidebar = true %}
{% block title %}{{ title }}{% endblock %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
  {{ form_errors(form) }}
  {{ form_start(form, {'attr': {'class': 'recaptcha-form'}}) }}
  {{ form_row(form.name) }}
  {{ form_row(form.email) }}
  {{ form_row(form.message, {'attr': {'rows': '5'}}) }}
  {{ form_widget(form.recaptcha) }}
  {{ form_rest(form) }}
  <div class="text-right">
    <button id="contact_btn" type="submit" class="btn btn-primary">
      {{ 'contact.send'|trans }}
      <i class="icon-arrow-right14 position-right"></i>
    </button>
  </div>
  {{ form_end(form) }}
{% endblock %}
