{% extends "base.html.twig" %}

{% import "helper.html.twig" as helper %}

{% set openedSidebar = true %}
{% set hideTitle = true %}

{% set title = 'index.title'|trans %}
{% block title %}{{ 'index.header.title'|trans }}{% endblock %}

{% block header %}
  <meta name="description" content="{{ 'index.description'|trans }}"/>
  <meta property="og:title" content="{{ 'app.name'|trans }}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="{{ app.request.uri }}"/>
  <meta property="og:image" content="{{ absolute_url(asset('images/logo_big.png')) }}"/>
{% endblock %}

{% block body %}
  <!-- info alert -->
  {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <div class="alert alert-info alert-styled-left alert-arrow-left alert-component">
      <button type="button" class="close" data-dismiss="alert"><span>&times;</span><span
            class="sr-only">Close</span>
      </button>
      <h6 class="alert-heading text-semibold">
        {{ 'index.header.title'|trans }}
      </h6>
      {{ 'index.header.info'|trans({'%link_path%': path('login')})|raw }}
    </div>
  {% endif %}
  <!-- /info alert -->
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-body">
        <div class="row text-center">
          <div class="col-xs-3">
            <p>{{ ux_icon('heroicons:star', {'class': 'w-8 h-8 display-inline-block text-success'}) }}</p>
            <h5 class="text-semibold no-margin">
              {{ stats.nb_ratings }}
              {% if stats.nb_new_ratings > 0 %}
                <span class="badge bg-warning-400">+{{ stats.nb_new_ratings }}</span>
              {% endif %}
            </h5>
            <span class="text-muted text-size-small">{{ 'index.stats.ratings'|trans }}</span>
          </div>
          <div class="col-xs-3">
            <p>{{ ux_icon('heroicons:megaphone', {'class': 'w-8 h-8 display-inline-block text-success'}) }}</p>
            <h5 class="text-semibold no-margin">
              <a href="{{ path('review_list') }}">{{ stats.nb_reviews }}</a>
            </h5>
            <span class="text-muted text-size-small">{{ 'index.stats.reviews'|trans }}</span>
          </div>
          <div class="col-xs-3">
            <p>{{ ux_icon('heroicons:user-group', {'class': 'w-8 h-8 display-inline-block text-warning'}) }}</p>
            <h5 class="text-semibold no-margin">
              <a href="{{ path('user_list') }}">{{ stats.nb_users }}</a>
            </h5>
            <span class="text-muted text-size-small">{{ 'index.stats.users'|trans }}</span>
          </div>
          <div class="col-xs-3">
            <p>{{ ux_icon('heroicons:camera', {'class': 'w-8 h-8 display-inline-block text-info'}) }}</p>
            <h5 class="text-semibold no-margin">{{ stats.nb_images }}</h5>
            <span class="text-muted text-size-small">{{ 'index.stats.images'|trans }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <!-- Thumbnail with image and button -->
      <div class="thumbnail">
          <a href="{{ path('show_coaster', {'id': image.coaster.id, 'slug': image.coaster.slug}) }}">
          <div class="thumb">
            <img src="{{ pictures_cdn }}/600x336/{{ image.filename }}"
                 alt="{{ image.coaster.name }}">
            <div class="caption-overflow"></div>
          </div>
        </a>

        <div class="caption text-center">
          <h5 class="text-semibold no-margin">
              <a href="{{ path('show_coaster', {'id': image.coaster.id, 'slug': image.coaster.slug}) }}"
                 class="btn btn-info">
              {{ image.coaster.name }}
            </a>
          </h5>
          <p class="text-muted mb-15 mt-5">{{ 'image.credit'|trans({'%name%': image.credit}) }}</p>
        </div>
      </div>
      <!-- /thumbnail with image and button -->
      <!-- latest ratings -->
      <div class="panel panel-flat border-top-teal">
        <div class="panel-heading">
          <h6 class="panel-title">{{ 'rating.last'|trans }}</h6>
        </div>
        <div class="panel-body">
          <ul class="list-feed">
            {% for ratingItem in ratingFeed %}
              <li>
                <a class="text-bold" href="{{ path('user_show', {'slug': ratingItem.user.slug}) }}">
                  {{ ratingItem.user.displayName }}
                </a>
                {{ 'rating.action'|trans({'%value%': ratingItem.value}) }}
                  <a href="{{ path('show_coaster', {'id': ratingItem.coaster.id, 'slug': ratingItem.coaster.slug}) }}">
                  {{ ratingItem.coaster.name }}
                </a>
                <div class="text-muted">
                  {{ ratingItem.updatedAt|ago }}
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <!-- /latests ratings -->
    </div>
    <div class="col-sm-6">
      <!-- latest reviews -->
      <div class="panel panel-flat">
        <div class="panel-heading">
          <h6 class="panel-title text-semibold">
            {{ ux_icon('heroicons:chat-bubble-left', {'class': 'w-6 h-6 position-left'}) }}
            {{ 'review.last'|trans }}
          </h6>
          <div class="heading-elements">
            <a href="{{ path('review_list') }}" class="heading-text">
              {{ ux_icon('heroicons:arrow-right', {'class': 'w-6 h-6 position-right'}) }}
              {{ 'review.all'|trans }}
            </a>
          </div>
        </div>

        <div class="panel-body">
          <ul class="media-list media-list-bordered stack-media-on-mobile reviews-list">
            {% for review in reviews %}
              <li class="media review-list-item">
                <div class="review-coaster-info">
                  <h6 class="media-heading text-semibold">
                    <a href="{{ path('show_coaster', {'id': review.coaster.id, 'slug': review.coaster.slug}) }}">
                      {{ review.coaster.name }}
                    </a>
                    -
                    <a href="{{ path('park_show', {'id': review.coaster.park.id, 'slug': review.coaster.park.slug}) }}">
                      {{ review.coaster.park.name }}
                    </a>
                  </h6>
                </div>
                {% include 'Includes/_review_item.html.twig' with {'review': review, 'displayReviewsInAllLanguages': displayReviewsInAllLanguages} %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <!-- /latest reviews -->
      <!-- no images -->
      {% if missingImages|length > 1 %}
      <div class="panel panel-flat border-top-teal">
        <div class="panel-heading">
          <h6 class="panel-title">{{ 'index.missingImages'|trans }}</h6>
        </div>
        <div class="panel-body">
          <ul class="list-feed">
            {% for rating in missingImages %}
              <li>
                <a href="{{ path('coaster_images_upload', {'slug': rating.coaster.slug}) }}">
                  {{ rating.coaster.name }} • {{ rating.coaster.park.name }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endif %}
    <!-- /no images -->
  </div>
{% endblock %}

{% block javascripts %}
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/sw.js', {scope: '/'}).then(function() {
        console.log('Service Worker Registered');
      }).catch(function(e) {
        console.log('Error during Service Worker registration : ', e);
      });
    }
  </script>
{% endblock %}
