<div class="panel panel-flat">
  <div class="panel-heading">
    <h6 class="panel-title text-semibold">
      <i class="icon-bubble-lines4 position-left"></i>
      {{ 'review.title'|trans }}
    </h6>
    <div class="heading-elements">
      <ul class="icons-list">
        <li><a data-action="collapse"></a></li>
      </ul>
    </div>
  </div>

  <div class="panel-body">
    <ul class="media-list media-list-bordered">
      {% for review in reviews %}
        <li class="media">
          <div class="media-heading">
            <h6 class="text-semibold">
              <a href="{{ path('show_coaster', {'id': review.coaster.id, 'slug': review.coaster.slug}) }}">
                {{ review.coaster.name }}
              </a>
              -
              <a href="{{ path('park_show', {'id': review.coaster.park.id, 'slug': review.coaster.park.slug}) }}">
                {{ review.coaster.park.name }}
              </a>
            </h6>
          </div>
          {% include 'Includes/_review_item.html.twig' with {'review': review, 'displayReviewsInAllLanguages': displayReviewsInAllLanguages} %}
        </li>
      {% else %}
        <li class="text-center text-muted">
          <i class="icon-comment-discussion position-left"></i>
          {{ 'review_list.no_review'|trans }}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
