{% import "helper.html.twig" as helper %}

<div class="panel panel-flat">
  <div class="panel-body">
    <ul class="media-list stack-media-on-mobile">
      {% for review in reviews %}
        <li class="media">
          <div class="media-left">
            {{ helper.profilePicture(review.user) }}
          </div>

          <div class="media-body">
            <div class="media-heading">
              <h6 class="media-heading">
                  <a href="{{ path('show_coaster', {'id': review.coaster.id, 'slug': review.coaster.slug}) }}">
                  {{ review.coaster.name }}
                </a>
                -
                <a href="{{ path('park_show', {'slug': review.coaster.park.slug}) }}">
                  {{ review.coaster.park.name }}
                </a>
              </h6>
              <a href="{{ path('user_show', {'slug': review.user.slug}) }}">
                {{ review.user.displayName }}
              </a>
              {{ helper.starRating(review.value) }}
              <span class="media-annotation dotted">
                {{ review.updatedAt|ago }}
              </span>
            </div>
            {% if review.pros|length > 0 or review.cons|length > 0 %}
              <p>
                {% for pros in review.pros %}
                  <span class="label label-success label-rounded mb-5">{{ pros.name|trans([], 'database') }}</span>
                {% endfor %}
                {% for cons in review.cons %}
                  <span class="label label-danger label-rounded mb-5">{{ cons.name|trans([], 'database') }}</span>
                {% endfor %}
              </p>
            {% endif %}
            {% if review.review %}
              <p>{{ review.review }}</p>
            {% endif %}
            {% if is_granted('update', review) %}
              <ul class="list-inline list-inline-separate text-size-small">
                <li>
                  <a href="{{ path('review_form', {'id': review.coaster.id}) }}">
                    {{ 'review.update'|trans }}
                  </a>
                </li>
              </ul>
            {% endif %}
          </div>
        </li>
      {% else %}
          {{ 'review_list.no_review'|trans }}
      {% endfor %}
    </ul>
  </div>
</div>
