{% extends "base.html.twig" %}
{% set title = 'review.form.title'|trans({'%name%': coaster.name}) %}
{% set subTitle = '' %}
{% block title %}{{ title }}{% endblock %}

{% block javascripts %}
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
  <div class="panel panel-flat">
    <div class="panel-heading">
      <h2 class="panel-title">{{ 'review.share'|trans }}</h2>
    </div>
    <div class="panel-body">
      {{ form_start(form) }}
      <div class="form-group">
        <label class="control-label is-visible">{{ 'review.value'|trans }}</label>
        <span class="text-danger">*</span>
        <br>
        {{ form_widget(form.value, {'attr': {'style': 'display:none;'}}) }}
        <div data-controller="rating"
             data-rating-coaster-id-value="{{ coaster.id }}"
             data-rating-current-value-value="{{ form.value.vars.value|default(0) }}"
             data-rating-locale-value="{{ app.request.locale }}"
             data-rating-readonly-value="false"
             data-rating-form-field-id-value="review_value"></div>
      </div>
      <div class="form-group">
        {{ form_label(form.riddenAt, "", {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form.riddenAt, {
          'attr': {
            'class': 'form-control',
            'data-controller': 'datepicker',
            'data-datepicker-format-value': 'yyyy-mm-dd',
            'data-datepicker-autoclose-value': 'true'
          } | merge(coaster.openingDate ? {'data-datepicker-start-date-value': coaster.openingDate|date('Y-m-d')} : {}) | merge(coaster.closingDate ? {'data-datepicker-end-date-value': coaster.closingDate|date('Y-m-d')} : {})
        }) }}
        {{ form_errors(form.riddenAt) }}
      </div>
      <div class="form-group">
        {{ form_label(form.pros, "", {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form.pros, {
          'attr': {
            'data-controller': 'enhanced-select',
            'data-enhanced-select-multiple-value': 'true',
            'data-enhanced-select-searchable-value': 'true',
            'data-enhanced-select-maximum-selection-length-value': '3',
            'data-enhanced-select-placeholder-value': 'Select pros...'
          }
        }) }}
      </div>
      <div class="form-group">
        {{ form_label(form.cons, "", {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form.cons, {
          'attr': {
            'data-controller': 'enhanced-select',
            'data-enhanced-select-multiple-value': 'true',
            'data-enhanced-select-searchable-value': 'true',
            'data-enhanced-select-maximum-selection-length-value': '3',
            'data-enhanced-select-placeholder-value': 'Select cons...'
          }
        }) }}
      </div>
      <div class="form-group">
        {{ form_label(form.review, "", {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form.review, {'attr': {'class': 'form-control', 'cols': '5', 'rows': '5'}}) }}
      </div>
      <div class="form-group">
        {{ form_label(form.language, "", {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form.language, {
          'attr': {
            'data-controller': 'enhanced-select',
            'data-enhanced-select-placeholder-value': 'Select language...'
          }
        }) }}
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-primary">
          {{ 'review.send'|trans }}
          {{ ux_icon('heroicons:arrow-right', {'class': 'w-6 h-6 position-right'}) }}
        </button>
      </div>
      {{ form_rest(form) }}
      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}
