<div class="panel panel-white">
    <div class="panel-heading">
        <h6 class="panel-title text-semibold">{{ 'search_index.parks_found'|trans({'%num%': parks.getTotalItemCount}) }}</h6>
    </div>

    <ul class="media-list">
        {% for park in parks %}
            <li class="media panel-body stack-media-on-mobile">
                <div class="media-left">
                    <a href="{{ path('park_show', {'id': park.id, 'slug': park.slug}) }}"></a>
                </div>

                <div class="media-body">
                    <h2 class="media-heading text-semibold">
                        <a style="color:#333;" href="{{ path('park_show', {'id': park.id, 'slug': park.slug}) }}">
                            {{ park.name }}
                        </a>
                    </h2>

                    <ul class="list-inline list-inline-separate text-muted mb-10">
                        <li>
                            <a class="text-muted" href="{{ path('ranking_index', {'filters[country]': park.country.id}) }}">
                                {{ park.country.name|trans([], 'database') }}
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

{{ knp_pagination_render(parks) }}
