{% if coasters is not empty %}
<div class="map-popup">
    <a href="{{ path('park_show', {'id': coasters[0].park.id, 'slug': coasters[0].park.slug}) }}" 
       class="map-popup-header">
        <span class="map-popup-title">{{ coasters[0].park.name }}</span>
        {{ ux_icon('tabler:external-link', {'class': 'map-popup-link-icon', 'aria-hidden': 'true'}) }}
    </a>
    
    <div class="map-popup-list">
        {% for coaster in coasters %}
            <a href="{{ path('show_coaster', {'id': coaster.id, 'slug': coaster.slug}) }}" 
               target="_blank"
               class="map-popup-item">
                <span class="map-popup-status map-popup-status--{{ coaster.status.type }}"></span>
                <span class="map-popup-name">{{ coaster.name }}</span>
                {% if coaster.score %}
                    <span class="map-popup-score">{{ coaster.score|number_format(1) }}</span>
                {% endif %}
            </a>
        {% endfor %}
    </div>
    
    {% if coasters|length > 1 %}
        <div class="map-popup-footer">
            {{ coasters|length }} {{ 'map.popup.coasters'|trans }}
        </div>
    {% endif %}
</div>
{% else %}
<div class="map-popup">
    <p class="map-popup-empty">{{ 'map.popup.no_coasters'|trans }}</p>
</div>
{% endif %}
