{% extends "base.html.twig" %}

{% block title %}{{ 'map_index.title'|trans }}{% endblock %}

{% block header %}
  <meta name="description" content="{{ 'map_index.description'|trans }}"/>
{% endblock %}

{% set pageHasFilters = true %}

{% block secondary_sidebar %}
  {% include 'Includes/filter_sidebar.html.twig' with {'filters': filters, 'filtersForm': filtersForm} only %}
{% endblock %}

{% block wide_body %}
  {# @todo: improve ? #}
  <div id="map" style="height:94vh;"></div>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript" src="{{ asset('js/plugins/switchery.min.js') }}"></script>
  <script type="text/javascript">
    var elems = Array.prototype.slice.call(document.querySelectorAll('.switchery'));
    elems.forEach(function(html) {
      var switchery = new Switchery(html);
      html.addEventListener('click', function() {
        filterData();
      })
    });
  </script>
  <script type="text/javascript">
    var gmarkers = [];
    var map;

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 5,
        center: {lat: 48.384098, lng: 7.970846},
      });

      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
          map.setCenter(initialLocation);
        });
      }

      var infowindow = new google.maps.InfoWindow();
      setInterval(generateMarkers(map, {{ markers|raw }}, infowindow), 50);

      {% if parkId is not empty %}
        var park = gmarkers.find(function (element) {
          return element.parkId === {{ parkId }};
        });
        map.setCenter(new google.maps.LatLng(park.getPosition().lat(), park.getPosition().lng()));
        map.setZoom(9);
        loadParkData(map, park, infowindow);
      {% endif %}
    }

    function loadParkData(map, marker, infowindow) {
      infowindow.setContent('Loading...');
      infowindow.open(map, marker);

      $.ajax({
        url: Routing.generate('map_coasters_ajax', {
          'id': marker.parkId,
          '_locale': '{{ app.request.locale }}',
        }),
        type: 'GET',
        data: $('form').serialize(),
      }).done(function(coasters) {
        infowindow.setContent(coasters);
        marker.setAnimation(null);
      });

      google.maps.event.addListener(map, 'click', function() {
        infowindow.close();
      });
    }

    function generateMarkers(map, markers, infowindow) {

      // Adds markers to the map.
      markers.forEach(function(park) {
        var marker = new google.maps.Marker({
          position: {lat: park['latitude'], lng: park['longitude']},
          map: map,
          title: park['name'],
          parkId: park['id'],
        });

        gmarkers.push(marker);
        marker.addListener('click', function() {
          marker.setAnimation(google.maps.Animation.BOUNCE);
          loadParkData(map, marker, infowindow);
        });
      });
    }

    function removeMarkers() {
      gmarkers.forEach(function(park) {
        park.setMap(null);
      });
      gmarkers = [];
    }

    function filterData() {
      var infowindow = new google.maps.InfoWindow();
      $.ajax({
        url: Routing.generate('map_markers_ajax', {'_locale': '{{ app.request.locale }}'}),
        type: 'GET',
        data: $('form').serialize(),
      }).done(function(data) {
        removeMarkers();
        generateMarkers(map, data, infowindow);
      });
    }
  </script>
  <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9GhjdRtYf1BNtxx-rLJJwNl2n2CDUev4&callback=initMap">
  </script>
{% endblock %}
