{% extends "base.html.twig" %}

{% block title %}{{ 'map_index.title'|trans }}{% endblock %}

{% set pageHasFilters = true %}

{% block secondary_sidebar %}
  {% include 'Includes/filter_sidebar.html.twig' with {'filters': filters, 'filtersForm': filtersForm} only %}
{% endblock %}

{% block wide_body %}
  <div id="map" style="height:94vh;"></div>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript" src="{{ asset('js/plugins/switchery.min.js') }}"></script>
  <script type="text/javascript">
    var elems = Array.prototype.slice.call(document.querySelectorAll('.switchery'));
    elems.forEach(function(html) {
      var switchery = new Switchery(html);
      html.addEventListener('click', function() {
        filterData();
      });
    });
  </script>
  <script type="text/javascript">
    var gmarkers = [];
    var map;

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 5,
        center: {lat: 48.384098, lng: 7.970846},
      });

      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
          map.setCenter(initialLocation);
        });
      }

      setInterval(setMarkers(map, {{ markers|raw }}), 50);
    }

    function setMarkers(map, markers) {
      var infowindow = new google.maps.InfoWindow();

      // Adds markers to the map.
      markers.forEach(function(park) {
        var marker = new google.maps.Marker({
          position: {lat: park['latitude'], lng: park['longitude']},
          map: map,
          title: park['name'],
          parkId: park['id'],
        });
        gmarkers.push(marker);
        marker.addListener('click', function() {
          infowindow.setContent('Loading...');
          infowindow.open(map, this);

          $.ajax({
            url: Routing.generate('map_coasters_ajax', {
              'id': this.parkId,
              '_locale': '{{ app.request.locale }}',
            }),
            type: 'GET',
            data: $('form').serialize(),
          }).done(function(coasters) {
            infowindow.setContent(coasters);
          });
        });
      });

      google.maps.event.addListener(map, 'click', function() {
        infowindow.close();
      });
    }

    function removeMarkers() {
      gmarkers.forEach(function(park) {
        park.setMap(null);
      });
    }

    function filterData() {
      $.ajax({
        url: Routing.generate('map_markers_ajax', {'_locale': '{{ app.request.locale }}'}),
        type: 'GET',
        data: $('form').serialize(),
      }).done(function(data) {
        removeMarkers();
        setMarkers(map, data);
      });
    }
  </script>
  <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9GhjdRtYf1BNtxx-rLJJwNl2n2CDUev4&callback=initMap">
  </script>
{% endblock %}
