{% if pageCount > 1 %}
    <div class="text-center content-group pt-20">
        <ul class="pagination">
            {% if previous is defined %}
                <li class="page-item">
                    <a class="page-link" rel="prev" data-page="{{ previous }}"
                       href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&laquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&laquo;</span>
                </li>
            {% endif %}
            {% if startPage > 1 %}
                <li class="page-item">
                    <a class="page-link" data-page="1"
                       href="{{ path(route, query|merge({(pageParameterName): 1})) }}">1</a>
                </li>
                {% if startPage == 3 %}
                    <li class="page-item">
                        <a class="page-link" data-page="2"
                           href="{{ path(route, query|merge({(pageParameterName): 2})) }}">2</a>
                    </li>
                {% elseif startPage != 2 %}
                    <li class="page-item disabled">
                        <span class="page-link">&hellip;</span>
                    </li>
                {% endif %}
            {% endif %}
            {% for page in pagesInRange %}
                {% if page != current %}
                    <li class="page-item">
                        <a class="page-link" data-page="{{ page }}"
                           href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="page-item active">
                        <span class="page-link" data-page="{{ page }}">{{ page }}</span>
                    </li>
                {% endif %}
            {% endfor %}
            {% if pageCount > endPage %}
                {% if pageCount > (endPage + 1) %}
                    {% if pageCount > (endPage + 2) %}
                        <li class="page-item disabled">
                            <span class="page-link">&hellip;</span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" data-page="{{ pageCount -1 }}"
                               href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}">{{ pageCount -1 }}</a>
                        </li>
                    {% endif %}
                {% endif %}
                <li class="page-item">
                    <a class="page-link" data-page="{{ pageCount }}"
                       href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}">{{ pageCount }}</a>
                </li>
            {% endif %}
            {% if next is defined %}
                <li class="page-item">
                    <a class="page-link" rel="next" data-page="{{ next }}"
                       href="{{ path(route, query|merge({(pageParameterName): next})) }}">&raquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&raquo;</span>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}
