<link rel="stylesheet" href="{{ asset('js/plugins/rateit/rateit.css') }}">
<script src="{{ asset('js/plugins/rateit/jquery.rateit.min.js') }}"></script>
<script type="text/javascript">
    $('document').ready(function () {
        $('#rateit-coaster').rateit(
            {max: 5, step: 0.5, backingfld: '#rating_coaster_rating', resetable: false, mode: 'font'}
        ).bind('rated', function () {
            let url = "{{ path('bdd_ajax_update_rating', {'id': coasterId}) }}";
            let formSerialize = $('form').serialize();

            $.post(url, formSerialize, function (response) {
                //your callback here
                console.log(response);
            }, 'JSON');
        });
    });

    {#$('document').ready(function () {#}
    {#$('#rating_coaster_rating').barrating({#}
    {#theme: 'fontawesome-stars',#}
    {#onSelect: function (value, text, event) {#}
    {#if (typeof(event) !== 'undefined') {#}

    {#var url = "{{ path('bdd_ajax_update_rating', {'id': coasterId}) }}";#}
    {#var formSerialize = $('form').serialize();#}

    {#$.post(url, formSerialize, function (response) {#}
    {#//your callback here#}
    {#console.log(response);#}
    {#}, 'JSON');#}
    {#}#}
    {#}#}
    {#});#}
    {#});#}
</script>

<div id="rateit-coaster" style="font-size: 22px;"></div>

{{ form_errors(form) }}
{{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}



