<!DOCTYPE html>
<html lang="{{ app.request.get('_locale') }}" data-symfony-ux-translator-locale="{{ app.request.locale }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ 'app.title.default'|trans }}{% endblock %} • {{ 'app.name'|trans }}</title>
  <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
  <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#2b5797">
  <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
  <meta name="apple-mobile-web-app-title" content="{{ 'app.name'|trans }}">
  <meta name="application-name" content="{{ 'app.name'|trans }}">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="theme-color" content="#37474f">
  <link rel="manifest" href="{{ asset('manifest.json') }}">
  {% block header %}{% endblock %}
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">
  {{ encore_entry_link_tags('app') }}
  {% if app.environment != 'dev' %}
  <script defer src="https://umami.captaincoaster.com/script.js" data-website-id="b5fd8d78-2d4e-4319-b75c-f71c6bb1485f"></script>
  {% endif %}
  {% block stylesheets %}{% endblock %}
</head>
<body class="navbar-top {% if openedSidebar is not defined %}sidebar-xs{% endif %}">
<!-- main navbar -->
{{ include('navbar.html.twig') }}
<!-- /main navbar -->
<!-- page container -->
<div class="page-container">
  <!-- page content -->
  <div class="page-content">
    <!-- main sidebar -->
    {{ include('sidebar.html.twig') }}
    <!-- /main sidebar -->
    <!-- main sidebar -->
    {% block secondary_sidebar %}{% endblock %}
    <!-- /main sidebar -->
    <!-- main content -->
    <div class="content-wrapper">
      {% block wide_body %}
        <!-- page header -->
        {{ include(
          'page_header.html.twig',
          {'title': title|default('Bienvenue !'), 'subTitle': subTitle|default(null), 'secondaryTitle': secondaryTitle|default(null)}
        ) }}
        <!-- /page header -->
        <!-- Content area -->
        <div class="content">
          {{ include('flashes.html.twig') }}
          <div id="notifications" data-controller="notification" data-notification-target="container"></div>

          {% block body %}{% endblock %}

          {{ include('footer.html.twig') }}
        </div>
      {% endblock %}
      <!-- /content area -->
    </div>
    <!-- /main content -->
  </div>
  <!-- /page content -->
</div>
<!-- /page container -->

<!-- Core JS files -->
{{ encore_entry_script_tags('app') }}

<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

<!-- Page-specific entries -->
{% block javascripts %}{% endblock %}
</body>
</html>
