<!DOCTYPE html>
<html lang="{{ app.request.get('_locale') }}" data-symfony-ux-translator-locale="{{ app.request.locale }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ 'app.title.default'|trans }}{% endblock %} • {{ 'app.name'|trans }}</title>
  <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
  <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#2b5797">
  <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
  <meta name="apple-mobile-web-app-title" content="{{ 'app.name'|trans }}">
  <meta name="application-name" content="{{ 'app.name'|trans }}">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="theme-color" content="#37474f">
  <link rel="manifest" href="{{ asset('manifest.json') }}">
  {% block header %}{% endblock %}
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
  {{ encore_entry_link_tags('app') }}
  {% block stylesheets %}{% endblock %}
</head>
<body class="navbar-top {% if openedSidebar is not defined %}sidebar-xs{% endif %}">
<!-- main navbar -->
{{ include('navbar.html.twig') }}
<!-- /main navbar -->
<!-- page container -->
<div class="page-container">
  <!-- page content -->
  <div class="page-content">
    <!-- main sidebar -->
    {{ include('sidebar.html.twig') }}
    <!-- /main sidebar -->
    <!-- main sidebar -->
    {% block secondary_sidebar %}{% endblock %}
    <!-- /main sidebar -->
    <!-- main content -->
    <div class="content-wrapper">
      {% block wide_body %}
        <!-- page header -->
        {{ include(
          'page_header.html.twig',
          {'title': title|default('Bienvenue !'), 'subTitle': subTitle|default(null), 'secondaryTitle': secondaryTitle|default(null)}
        ) }}
        <!-- /page header -->
        <!-- Content area -->
        <div class="content">
          {{ include('flashes.html.twig') }}
          <div id="notifications" data-controller="notification" data-notification-target="container"></div>

          {% block body %}{% endblock %}

          {{ include('footer.html.twig') }}
        </div>
      {% endblock %}
      <!-- /content area -->
    </div>
    <!-- /main content -->
  </div>
  <!-- /page content -->
</div>
<!-- /page container -->
<!-- Core JS files -->
{{ encore_entry_script_tags('app') }}
<!-- Bootstrap 3.3.7, theme JS, and plugins are now included in the Webpack bundle -->
<!-- /core JS files -->

<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<!-- Symfony UX Translator -->
{{ encore_entry_script_tags('translator') }}
<!-- Page-specific entries -->
{% block page_scripts %}{% endblock %}
<script type="text/javascript">
  // used for rating
  var locale = '{{ app.request.locale }}';
  var charMap = {
    'a': /[àáâãå]/gi,
    'c': /[ç]/gi,
    'e': /[èéêë]/gi,
    'i': /[ïí]/gi,
    'o': /[ôóøö]/gi,
    'oe': /[œ]/gi,
    'u': /[üú]/gi,
    'n': /[ñ]/gi,
    'ss': /[ß]/gi
  };
  var normalize = function (str) {
    $.each(charMap, function (normalized, regex) {
      str = str.replace(regex, normalized);
    });
    return str;
  };
  var queryTokenizer = function (q) {
    var normalized = normalize(q);
    return Bloodhound.tokenizers.nonword(normalized);
  };
  var dataSource = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.nonword('normalize'),
    queryTokenizer: queryTokenizer,
    prefetch: {
      url: Routing.generate('ajax_main_search', {'_locale': '{{ app.request.locale }}'}),
      cache: true,
      ttl: 600000,
      transform: function (obj) {
        return obj.map(
          function (result) {
            return {normalize: normalize(result.names), display: result.display, route: result.route, slug: result.slug}
          }
        )
      }
    }
  });
  $('#search-coaster').typeahead(
      {
        highlight: true,
        hint: true,
        autoselect: true,
      }, {
        display: 'display',
        source: dataSource.ttAdapter(),
        limit: 7,
      }).bind('typeahead:select', function(ev, suggestion) {
    window.location.href = Routing.generate(
        suggestion.route,
        {'slug': suggestion.slug, '_locale': '{{ app.request.locale }}'},
    );
  }).bind('typeahead:render', function() {
      if ($('#seeMoreResults').length < 1) {
        $(".tt-dataset")
          .append('<div role="option" id="seeMoreResults" class="tt-suggestion tt-selectable"><i class="icon-arrow-right8 position-left"></i> {{ 'search_index.more'|trans() }}</div>')
          .on("click", () => seeMoreResults());
        $(".tt-empty").css({"display": "block"});
      }
  });

  $("#search-coaster").on("keydown", (e) => {
    if ((e.keyCode === 13 || e.keyCode === 9) &&
        (
          ($(".tt-dataset > *:not(#seeMoreResults)").length < 1 && $('#seeMoreResults').length === 1) ||
          ($(".tt-dataset > *:not(#seeMoreResults)").length > 1 && $('#seeMoreResults').hasClass("tt-cursor"))
        )
    ) {
      seeMoreResults();
    }
  });

  // Mobile form validation
  $("form.heading-form").on("submit", (e) => {
      e.preventDefault();
      if ($(".tt-dataset > *:not(#seeMoreResults)").length < 1 && $('#seeMoreResults').length === 1) {
          seeMoreResults();
      }
  });



  function seeMoreResults() {
      window.location.href = Routing.generate(
          'search_index',
          {'_locale': '{{ app.request.locale }}', 'query': document.querySelector("#search-coaster").value}
      );
  }
</script>
{% block javascripts %}{% endblock %}
{% if app.environment != 'dev' %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-M2S96P7YEW"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-M2S96P7YEW');
</script>
{% endif %}
</body>
</html>
