{# Display profile picture or fallback picture #}
{% macro profilePicture(user, className) %}
    <img src="{{ pictures_cdn ~ '/profile-pictures/' ~ user.profilePicture|default('default_user.png') }}"
         class="{{ className|default('img-circle img-lg') }}"
         alt="{{ user.displayName }}">
{% endmacro %}

{# Display a coaster related date #}
{% macro displayDate(date) %}
    {% if date|date("dm") == "0101" %}
        {{ date|date("Y") }}
    {% else %}
        {{ date|format_datetime('short', 'none') }}
    {% endif %}
{% endmacro %}

{# Color magic for ratings - Legacy support #}
{% macro ratingColor(score) %}
    hsl({{ score * 1.2 }}, 50%, 50%)
{% endmacro %}

{# Display coaster rank variation #}
{% macro variation(coaster) %}
    {% if coaster.previousRank is empty %}
        <span class="badge badge-flat border-warning-600 text-warning-600">new</span>
    {% elseif coaster.previousRank < coaster.rank %}
        <span class="badge badge-flat border-danger-600 text-danger-600">
      {{ ux_icon('heroicons:arrow-down', {'class': 'w-6 h-6'}) }} {{ (coaster.rank - coaster.previousRank)|abs }}
    </span>
    {% elseif coaster.previousRank > coaster.rank %}
        <span class="badge badge-flat border-success-600 text-success-600">
      {{ ux_icon('heroicons:arrow-up', {'class': 'w-6 h-6'}) }} {{ (coaster.rank - coaster.previousRank)|abs }}
    </span>
    {% elseif coaster.previousRank == coaster.rank %}
        <span class="badge badge-flat border-primary-600 text-primary-600">{{ ux_icon('heroicons:arrow-right', {'class': 'w-6 h-6'}) }}</span>
    {% endif %}
{% endmacro %}

{# Display star rating using SVG sprite #}
{% macro starRating(rating) %}
    <span class="star-rating">
        <span class="text-warning star-rating-stars">
            {% set fullStars = rating|round(0, 'floor') %}
            
            {% for i in 1..fullStars %}
                {{ ux_icon('heroicons-solid:star', {'class': 'w-6 h-6'}) }}
            {% endfor %}
            
            {% if (rating - fullStars) >= 0.5 %}
                {{ ux_icon('half-star', {'class': 'w-6 h-6'}) }}
            {% endif %}
        </span>
    </span>
{% endmacro %}
