{% import "helper.html.twig" as helper %}

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="{{ path('bdd_index') }}" style="padding:11px 20px;">
      <img src="{{ asset('images/logo_light.svg') }}" style="height:24px;margin:0;" alt="Captain Coaster">
    </a>
    <ul class="nav navbar-nav visible-xs-block">
      <li><a data-toggle="collapse" data-target="#navbar-mobile">{{ heroicon('user', 'w-8 h-8') }}</a></li>
      <li><a class="sidebar-mobile-main-toggle">{{ heroicon('bars-3', 'w-8 h-8') }}</a></li>
      {% if pageHasFilters is defined %}
        <li><a class="sidebar-mobile-secondary-toggle">{{ heroicon('funnel', 'w-8 h-8') }}</a></li>
      {% endif %}
    </ul>
  </div>
  <div class="navbar-collapse collapse" id="navbar-mobile">
    <ul class="nav navbar-nav">
      <li>
        <a class="sidebar-control sidebar-main-toggle hidden-xs">{{ heroicon('bars-3', 'w-8 h-8') }}</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-text">
        <span id="editor-saved" class="label bg-success"></span>
      </li>
      <!-- language switcher -->
      {% if app.request.attributes.get('_route') %}
        <li class="dropdown language-switch">
          <a class="dropdown-toggle" data-toggle="dropdown">
            {{ app.request.locale|trans }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            {% set route = app.request.attributes.get('_route') %}
            {% set route_params = app.request.attributes.get('_route_params') %}
            {% set params = route_params|merge(app.request.query.all) %}
            {% for locale in locales|filter(v => v != app.request.locale) %}
              <li>
                <a href="{{ path(route, params|merge({ _locale: locale })) }}">
                  {{ locale|trans }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endif %}
      <!-- /language switcher -->
      <!-- notifications -->
      {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            {{ heroicon('bell', 'w-8 h-8') }}
            <span class="visible-xs-inline-block position-right">{{ 'notif.title'|trans }}</span>
            {% if app.user.unreadNotifications|length > 0 %}
              <span class="badge bg-warning-400">{{ app.user.unreadNotifications|length }}</span>
            {% endif %}
          </a>
          <div class="dropdown-menu dropdown-content">
            <div class="dropdown-content-heading">{{ 'notif.title'|trans }}</div>
            <ul class="media-list dropdown-content-body width-350">
              {% for notif in app.user.unreadNotifications %}
                <li class="media">
                  <div class="media-left">
                    <a href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs">
                      {{ heroicon('star', 'w-6 h-6', 'solid') }}</a>
                  </div>

                  <div class="media-body">
                    <a href="{{ path('notification_read', {'id': notif.id}) }}">
                      {{ notif.message|trans({'%name%': notif.parameter|trans}) }}
                    </a>
                    <div class="media-annotation">{{ notif.createdAt|ago }}</div>
                  </div>
                </li>
              {% else %}
                <li>{{ 'notif.empty'|trans }}</li>
              {% endfor %}
            </ul>
          </div>
        </li>
        <!-- /notifications -->
        <!-- user profile -->
        <li class="dropdown dropdown-user">
          <a class="dropdown-toggle" data-toggle="dropdown">
            {{ helper.profilePicture(app.user, 'img-circle img-xs') }}
            <span>{{ app.user.firstname }}</span>
            <i class="caret"></i>
          </a>

          <ul class="dropdown-menu dropdown-menu-right">
            <li>
              <a href="{{ path('profile') }}">{{ heroicon('user', 'w-6 h-6') }} {{ 'navbar.profile'|trans }}</a>
            </li>
            <li>
              <a href="{{ path('profile_ratings') }}">
                {{ heroicon('star', 'w-6 h-6') }} {{ 'navbar.rating'|trans }}
              </a>
            </li>
            <li>
              <a href="{{ path('user_tops', {'id': app.user.id}) }}">
                {{ heroicon('clipboard', 'w-6 h-6') }} {{ 'navbar.tops'|trans }}
              </a>
            </li>
            <li>
              <a href="{{ path('map_user', {'id': app.user.id}) }}">
                {{ heroicon('map-pin', 'w-6 h-6') }} {{ 'navbar.my_map'|trans }}
              </a>
            </li>
            <li class="divider"></li>
            <li><a href="{{ path('logout') }}">{{ heroicon('arrow-right-on-rectangle', 'w-6 h-6') }} {{ 'navbar.logout'|trans }}</a>
            </li>
          </ul>
        </li>
      {% else %}
        <li><a href="{{ path('login') }}">{{ 'navbar.login'|trans }}</a></li>
      {% endif %}
      <!-- /user profile -->
    </ul>
  </div>
</div>
