{% extends "base.html.twig" %}

{% set title = 'index.title'|trans %}
{% set openedSidebar = true %}
{% block title %}{{ 'index.header.title'|trans }}{% endblock %}

{% block body %}
    <!-- info alert -->
    <div class="alert alert-info alert-styled-left alert-arrow-left alert-component">
        <button type="button" class="close" data-dismiss="alert"><span>&times;</span><span class="sr-only">Close</span>
        </button>
        <h6 class="alert-heading text-semibold">
            {{ 'index.header.title'|trans }}
        </h6>
        {{ 'index.header.info'|trans({'%link_path%': path('facebook_login')})|raw }}
    </div>
    <!-- /info alert -->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-body">
                <div class="row text-center">
                    <div class="col-xs-3">
                        <p><i class="icon-road icon-2x display-inline-block text-info"></i></p>
                        <h5 class="text-semibold no-margin">{{ stats.1 }}</h5>
                        <span class="text-muted text-size-small">{{ 'index.stats.coasters'|trans }}</span>
                    </div>
                    <div class="col-xs-3">
                        <p><i class="icon-stars icon-2x display-inline-block text-success"></i></p>
                        <h5 class="text-semibold no-margin">
                            {{ ratingNumber }}
                            {% if newRatingNumber > 0 %}
                                <span class="badge bg-warning-400">+{{ newRatingNumber }}</span>
                            {% endif %}
                        </h5>

                        <span class="text-muted text-size-small">{{ 'index.stats.ratings'|trans }}</span>

                    </div>
                    <div class="col-xs-3">
                        <p><i class="icon-rulers icon-2x display-inline-block text-warning"></i></p>
                        <h5 class="text-semibold no-margin">{{ (stats.2 / 1000)|round }}</h5>
                        <span class="text-muted text-size-small">{{ 'index.stats.rails'|trans }}</span>
                    </div>
                    <div class="col-xs-3">
                        <p><i class="icon-spinner11 icon-2x display-inline-block text-success"></i></p>
                        <h5 class="text-semibold no-margin">{{ stats.3 }}</h5>
                        <span class="text-muted text-size-small">{{ 'index.stats.inversions'|trans }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            {% if images|length > 0 %}
                <!-- Thumbnail with image and button -->
                <div class="thumbnail">
                    <div class="thumb">
                        <img src="{{ asset(random(images)) | imagine_filter('random_index') }}"
                             alt="{{ coaster.name }}">

                        <div class="caption-overflow">
                        <span>
                            <a href="{{ path('bdd_show_coaster', {'slug': coaster.slug}) }}"
                               class="btn btn-info">voir</a>
                        </span>
                        </div>
                    </div>

                    <div class="caption text-center">
                        <h5 class="text-semibold no-margin">{{ coaster.name }}</h5>
                        <p class="text-muted mb-15 mt-5">{{ coaster.park.name }}</p>
                    </div>
                </div>
                <!-- /thumbnail with image and button -->
            {% endif %}
            <!-- latest ratings -->
            <div class="panel panel-flat border-top-teal">
                <div class="panel-heading">
                    <h6 class="panel-title">{{ 'rating.last'|trans() }}</h6>
                </div>
                <div class="panel-body">
                    <ul class="list-feed">
                        {% for ratingItem in ratingFeed %}
                            <li>
                                <strong>{{ ratingItem.user.displayName }}</strong>
                                {{ 'rating.action'|trans({'%value%': ratingItem.value}) }}
                                <a href="{{ path('bdd_show_coaster', {'slug': ratingItem.coaster.slug}) }}">
                                    {{ ratingItem.coaster.name }}
                                </a>
                                <div class="text-muted">
                                    {{ ratingItem.updatedAt|ago }}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- /latests ratings -->
        </div>
        <div class="col-sm-6">
            <!-- latest reviews -->
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h6 class="panel-title text-semiold">{{ 'review.last'|trans() }}</h6>
                </div>

                <div class="panel-body">
                    <ul class="media-list stack-media-on-mobile">
                        {% for review in reviews %}
                            <li class="media">
                                <div class="media-left">
                                    {% if review.user.profilePicture %}
                                        <img src="{{ review.user.profilepicture }}"
                                             class="img-circle img-sm"
                                             alt="{{ review.user.displayName }}">
                                    {% else %}
                                        <img src="{{ asset('images/default_user.png') }}"
                                             alt="{{ review.user.displayName }}"
                                             class="img-circle img-sm">
                                    {% endif %}
                                </div>

                                <div class="media-body">
                                    <div class="media-heading">
                                        <h6 class="media-heading">
                                            <a href="{{ path('bdd_show_coaster', {'slug': review.coaster.slug}) }}">
                                                {{ review.coaster.name }} - {{ review.coaster.park.name }}
                                            </a>

                                        </h6>
                                        {{ review.user.displayName }}
                                        <span class="media-annotation dotted">
                                            <span class="text-warning">
                                                {% set low = review.value|round(0, 'floor') %}
                                                {% for i in 1..low if low > 0 %}
                                                    <i class="icon-star-full2"></i>
                                                {% endfor %}
                                                {% if low < review.value %}
                                                    <i class="icon-star-half"></i>
                                                {% endif %}
                                            </span>
                                        </span>
                                        <span class="media-annotation dotted">{{ review.updatedAt|ago }}</span>
                                    </div>
                                    {% if review.positiveKeywords|length > 0 or review.negativeKeywords|length > 0 %}
                                        <p>
                                            {% for pros in review.positiveKeywords %}
                                                <span class="label label-success label-rounded">{{ pros.name|trans([], 'database') }}</span>
                                            {% endfor %}
                                            {% for cons in review.negativeKeywords %}
                                                <span class="label label-danger label-rounded">{{ cons.name|trans([], 'database') }}</span>
                                            {% endfor %}
                                        </p>
                                    {% endif %}
                                    {% if review.review %}
                                        <p>{{ review.review }}</p>
                                    {% endif %}
                                    {% if is_granted('ROLE_USER') and app.user.id == review.user.id %}
                                        <ul class="list-inline list-inline-separate text-size-small">
                                            {#<li>114 <a href="#"><i class="icon-arrow-up22 text-success"></i></a><a href="#"><i#}
                                            {#class="icon-arrow-down22 text-danger"></i></a></li>#}
                                            <li><a href="{{ path('review_form', {'id': review.coaster.id}) }}">Modifier
                                                    mon
                                                    avis</a></li>
                                        </ul>
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- /latest reviews -->
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {# to be refact #}
    <meta name="description" content="{{ 'app.description'|trans }}"/>
    <meta property="og:title" content="{{ 'app.name'|trans }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ app.request.uri }}" />
    <meta property="og:image" content="{{ absolute_url(asset('images/logo_big.png')) }}" />
{% endblock %}