{% extends "base.html.twig" %}

{% import "helper.html.twig" as helper %}

{% set title = 'coaster_ranking.title'|trans({'%rankingMonth%': ranking.computedAt|localizeddate('none', 'none', null, null, 'MMMM Y')|capitalize}) %}
{% block title %}{{ title }}{% endblock %}

{% block header %}
  <meta name="description" content="{{ 'coaster_ranking.description'|trans }}"/>
{% endblock %}

{% block body %}
  <div class="panel panel-flat">
    <div class="panel-heading has-visible-elements">
      <h6 class="panel-title">{{ 'coaster_ranking.info.title'|trans }}</h6>
      <div class="heading-elements visible-elements">
        {% if nextRankingDate %}
          <span class="heading-text text-muted">
            <i class="icon-history text-warning position-left"></i>
            {{ 'coaster_ranking.info.next'|trans({'%date%': nextRankingDate|ago}) }}
          </span>
        {% endif %}
        <span class="heading-text text-muted">
          <i class="icon-plus2 text-warning position-left"></i>
          <a class="text-muted" href="{{ path('coaster_ranking_learn') }}">Learn more about the ranking</a>
        </span>
      </div>
    </div>
    <div class="panel-body text-center">
      <div class="col-xs-3">
        <div class="content-group">
          <h6 class="text-semibold no-margin">
            <i class="icon-comments position-left text-slate"></i>&nbsp;{{ ranking.rankedCoasterNumber }}&nbsp;
          </h6>
          <span class="hidden-xs text-muted text-size-small">{{ 'coaster_ranking.info.coasters_ranked'|trans }}</span>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="content-group">
          <h6 class="text-semibold no-margin">
            <i class="icon-stars position-left text-slate"></i> {{ ranking.ratingNumber|shortNum }}
          </h6>
          <span class="hidden-xs text-muted text-size-small">{{ 'coaster_ranking.info.ratings'|trans }}</span>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="content-group">
          <h6 class="text-semibold no-margin">
            <i class="icon-podium position-left text-slate"></i> {{ ranking.coasterInTopNumber|shortNum }}
          </h6>
          <span class="hidden-xs text-muted text-size-small">{{ 'coaster_ranking.info.in_tops'|trans }}</span>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="content-group">
          <h6 class="text-semibold no-margin">
            <i class="icon-git-compare position-left text-slate"></i>&nbsp;&nbsp;
            {{ ranking.comparisonNumber|shortNum }}
          </h6>
          <span class="hidden-xs text-muted text-size-small">{{ 'coaster_ranking.info.comparisons'|trans }}</span>
        </div>
      </div>
    </div>
  </div>
  <!-- /info alert -->
  <ul class="media-list content-group">
    {% for coaster in coasters %}
      <li class="media panel panel-body stack-media-on-mobile">
        <div class="media-left">
          <a href="{{ path('bdd_show_coaster', {'slug': coaster.slug}) }}">
            {% if coaster.mainImage is not null %}
              <img src="{{ coaster.mainImage.path | imagine_filter('coaster_ranking') }}"
                   class="img-rounded"
                   style="width:96px;"
                   alt="{{ coaster.name }}">
            {% endif %}
          </a>
        </div>

        <div class="media-body">
          <h2 class="media-heading mb-10">
            {{ coaster.rank }} - <a style="color:#333;"
                                    href="{{ path('bdd_show_coaster', {'slug': coaster.slug}) }}">{{ coaster.name }}</a>
            {{ helper.variation(coaster) }}
          </h2>
          <ul class="list-inline list-inline-separate text-muted mb-5">
            <li>
              <a class="text-muted"
                 href="{{ path('park_show', {'slug': coaster.park.slug}) }}">{{ coaster.park.name }}</a>
            </li>
            <li>{{ coaster.park.country.name|trans([], 'database') }}</li>
          </ul>
          <ul class="list-inline list-inline-separate text-muted mb-5">
            <li>{{ coaster.manufacturer.name }}</li>
            {% if coaster.maTerialType %}
              <li>{{ coaster.materialType }}</li>{% endif %}
            {% if coaster.types|length > 0 %}
              <li>{{ coaster.types|join(', ') }}</li>
            {% endif %}
          </ul>
        </div>
        <div class="media-right text-center">
          <h3 style="color: {{ helper.ratingColor(coaster.score) }};" class="no-margin text-semibold text-nowrap">
            {{ coaster.score|number_format(1, ',') }}%
          </h3>
          <span class="text-muted mb-10 mt-10 text-nowrap">
            {{ 'coaster_ranking.duel_number'|transchoice(coaster.validDuels) }}
          </span>
        </div>
      </li>
    {% endfor %}
  </ul>
  {{ knp_pagination_render(coasters) }}
{% endblock %}
