{% extends "base.html.twig" %}

{% import "helper.html.twig" as helper %}

{% set rankingMonth = date()|localizeddate('none', 'none', null, null, 'MMMM Y')|capitalize %}
{% set title = 'coaster_ranking.title'|trans({'%rankingMonth%': rankingMonth}) %}
{% block title %}{{ title }}{% endblock %}

{% block header %}
  <meta name="description" content="{{ 'coaster_ranking.description'|trans }}"/>
{% endblock %}

{% block body %}
  <!-- info alert -->
  <div class="alert alert-info alert-styled-left alert-arrow-left alert-component">
    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
    <h6 class="alert-heading text-semibold">{{ 'coaster_ranking.info.title'|trans }}</h6>
    <p>
      {% if ranking %}
      {{ 'coaster_ranking.info.stats'|trans(
        {
          '%ratings%': ranking.ratingNumber,
          '%tops%': ranking.topNumber,
          '%users%': ranking.userNumber,
          '%comparisons%': ranking.comparisonNumber,
          '%coasters%': ranking.rankedCoasterNumber
        }
      ) }}
      {% else %}
        {{ 'coaster_ranking.info.desc'|trans({'%link_path%': path('hwi_oauth_connect')})|raw }}
      {% endif %}
      {% if nextRankingDate %}{{ 'coaster_ranking.info.next'|trans({'%date%': nextRankingDate|ago}) }}{% endif %}
    </p>
  </div>
  <!-- /info alert -->
  <ul class="media-list content-group">
    {% for coaster in coasters %}
      <li class="media panel panel-body stack-media-on-mobile">
        <div class="media-left">
          <a href="{{ path('bdd_show_coaster', {'slug': coaster.slug}) }}">
            {% if coaster.images|length > 0 %}
              {% set image = random(coaster.images) %}
              <img src="{{ image.path | imagine_filter('coaster_ranking') }}"
                   class="img-rounded"
                   style="width:96px;"
                   alt="{{ coaster.name }}">
            {% endif %}
          </a>
        </div>

        <div class="media-body">
          <h2 class="media-heading mb-10">
            {{ coaster.rank }} - <a style="color:#333;"
                                    href="{{ path('bdd_show_coaster', {'slug': coaster.slug}) }}">{{ coaster.name }}</a>
            {{ helper.variation(coaster) }}
          </h2>
          <ul class="list-inline list-inline-separate text-muted mb-5">
            <li>
              <a class="text-muted"
                 href="{{ path('park_show', {'slug': coaster.park.slug}) }}">{{ coaster.park.name }}</a>
            </li>
            <li>{{ coaster.park.country.name|trans([], 'database') }}</li>
          </ul>
          <ul class="list-inline list-inline-separate text-muted mb-5">
            <li>{{ coaster.builtCoaster.manufacturer.name }}</li>
            <li>{{ coaster.builtCoaster.types|join(', ') }}</li>
          </ul>
        </div>
        <div class="media-right text-center">
          <h3 style="color: {{ helper.ratingColor(coaster.score) }};" class="no-margin text-semibold text-nowrap">
            {{ coaster.score|number_format(1, ',') }}%
          </h3>
          <ul class="list-unstyled text-muted mb-10 mt-10 text-nowrap">
            <li>{{ 'coaster_ranking.rating_number'|transchoice(coaster.totalRatings) }}</li>
            <li>{{ 'coaster_ranking.top_number'|transchoice(coaster.totalTopsin) }}</li>
          </ul>
        </div>
      </li>
    {% endfor %}
  </ul>
  {{ knp_pagination_render(coasters) }}
{% endblock %}
