{% extends "::base.html.twig" %}

{% block title %}{{ coaster.name }} - {{ coaster.park.name }}{% endblock %}

{% set vars = {
    'title': coaster.name,
    'subTitle': coaster.park.name,
    'labelTitle': coaster.status
    }
%}

{% block body %}
    <div class="sidebar-detached">
        <div class="sidebar sidebar-default sidebar-separate">
            <div class="sidebar-content">
                <!-- Course details -->
                <div class="sidebar-category">
                    <div class="category-title">
                        <span>Caractéristiques de {{ coaster.name }}</span>
                        <ul class="icons-list">
                            <li><a href="#" data-action="collapse"></a></li>
                        </ul>
                    </div>

                    <div class="category-content">
                        <div class="form-group">
                            <label class="control-label no-margin text-semibold">Statut:</label>
                            <div class="pull-right"><span class="label label-{{ coaster.status.type }}">{{ coaster.status.name }}</span></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label no-margin text-semibold">Parc:</label>
                            <div class="pull-right">{{ coaster.park.name }}</div>
                        </div>
                        <div class="form-group">
                            <label class="control-label no-margin text-semibold">Pays:</label>
                            <div class="pull-right">{{ coaster.park.country.name }}</div>
                        </div>
                        <div class="form-group">
                            <label class="control-label no-margin text-semibold">Type:</label>
                            <div class="pull-right">
                                {% for type in coaster.builtCoaster.types %}
                                    {{ type.name }}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label no-margin text-semibold">Constructeur:</label>
                            <div class="pull-right">{{ coaster.builtCoaster.manufacturer.name }}</div>
                        </div>
                        <div class="form-group">
                            <label class="control-label no-margin text-semibold">Système de retenue:</label>
                            <div class="pull-right">{{ coaster.builtCoaster.restraint.name }}</div>
                        </div>
                        {% if coaster.builtCoaster.gForce %}
                        <div class="form-group">
                            <label class="control-label no-margin text-semibold">Forces G:</label>
                            <div class="pull-right">{{ coaster.builtCoaster.gForce }}G</div>
                        </div>
                        {% endif %}
                        {% if coaster.builtCoaster.duration %}
                        <div class="form-group">
                            <label class="control-label no-margin text-semibold">Durée:</label>
                            <div class="pull-right">{{ coaster.builtCoaster.duration|date("i\\m s\\s") }}</div>
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <label class="control-label no-margin text-semibold">Date d'ouverture:</label>
                            <div class="pull-right">
                                {% if coaster.openingDate|date("dm") == "0101" %}
                                    {{ coaster.openingDate|date("Y") }}
                                {% else %}
                                    {{ coaster.openingDate|date("d/m/Y") }}
                                {% endif %}
                            </div>
                        </div>
                        {% if coaster.closingDate %}
                            <div class="form-group">
                                <label class="control-label no-margin text-semibold">Date de fermeture:</label>
                                <div class="pull-right">
                                    {% if coaster.closingDate|date("dm") == "0101" %}
                                        {{ coaster.closingDate|date("Y") }}
                                    {% else %}
                                        {{ coaster.closingDate|date("d/m/Y") }}
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        {% if coaster.averageRating %}
                        <div class="form-group">
                            <label class="control-label no-margin text-semibold">Note:</label>
                                <div class="pull-right">
                                    {% for i in 1..coaster.averageRating|round %}
                                        <i class="icon-star-full2 text-size-base text-warning-300"></i>
                                    {% endfor %}
                                </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <!-- /course details -->
            </div>
        </div>
    </div>

    <div class="container-detached">
        <div class="content-detached">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="panel panel-body bg-blue-400 has-bg-image">
                        <div class="media no-margin">
                            <div class="media-body">
                                <h3 class="no-margin">{{ coaster.builtCoaster.height }}m</h3>
                                <span class="text-uppercase text-size-mini">Hauteur</span>
                            </div>

                            <div class="media-right media-middle">
                                <i class="icon-bubbles4 icon-3x opacity-75"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="panel panel-body bg-danger-400 has-bg-image">
                        <div class="media no-margin">
                            <div class="media-body">
                                <h3 class="no-margin">{{ coaster.builtCoaster.speed }}km/h</h3>
                                <span class="text-uppercase text-size-mini">Vitesse</span>
                            </div>

                            <div class="media-right media-middle">
                                <i class="icon-bag icon-3x opacity-75"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="panel panel-body bg-success-400 has-bg-image">
                        <div class="media no-margin">
                            <div class="media-left media-middle">
                                <i class="icon-pointer icon-3x opacity-75"></i>
                            </div>

                            <div class="media-body text-right">
                                <h3 class="no-margin">{{ coaster.builtCoaster.length }}m</h3>
                                <span class="text-uppercase text-size-mini">Longueur</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="panel panel-body bg-indigo-400 has-bg-image">
                        <div class="media no-margin">
                            <div class="media-left media-middle">
                                <i class="icon-enter6 icon-3x opacity-75"></i>
                            </div>

                            <div class="media-body text-right">
                                <h3 class="no-margin">{{ coaster.builtCoaster.inversionsNumber }}</h3>
                                <span class="text-uppercase text-size-mini">Inversions</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <!-- Youtube -->
                    <div class="panel panel-flat">
                        <div class="panel-heading">
                            <h5 class="panel-title">Video</h5>
                        </div>

                        <div class="panel-body">
                            <div class="content-group-lg">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item"
                                            src="https://www.youtube.com/embed/vlDzYIIOYmM"
                                            frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
