{% extends "::base.html.twig" %}

{% block title %}BddBundle:Coaster:coaster{% endblock %}

{% block body %}
<h1>{{ coaster.name }}</h1>
Hauteur : {{ coaster.builtCoaster.height }}
Longueur : {{ coaster.builtCoaster.length }}
Hauteur : {{ coaster.builtCoaster.speed }}
Hauteur : {{ coaster.builtCoaster.inversionsNumber }}
{% endblock %}
