{% extends "base.html.twig" %}

{% import "helper.html.twig" as helper %}

{% set title = 'users.images.title'|trans({'%name%': user.displayName}) %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
  {% if images|length > 0 %}
    <div id="coaster-photos" class="row">
      <div class="panel panel-flat border-top-blue">
        <div class="panel-body no-border no-padding-top" data-gallery="user-images">
          {% for image in images %}
            <div class="col-sm-3">
              <a class="m-10" href="{{ pictures_cdn }}/1440x1440/{{ image.filename }}"
                 data-cropped-thumbnail="{{ pictures_cdn }}/280x210/{{ image.filename }}">
                <div class="thumb">
                  <img src="{{ pictures_cdn }}/280x210/{{ image.filename }}" alt="{{ image.coaster.name }}">
                </div>
              </a>
              <div class="text-size-small text-muted">
                <i
                    onclick="toggleLike(this, '{{ image.id }}');"
                    style="cursor: pointer;"
                    class="{% if image.id in userLikes %}icon-heart5{% else %}icon-heart6{% endif %} text-muted like-image">
                </i>&nbsp;{{ image.likeCounter }}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {{ knp_pagination_render(images) }}
  {% else %}
    No photos
  {% endif %}
  <script>
    function toggleLike(element, id) {
      $.ajax({
        url: Routing.generate('like_image_async', {
          'id': id,
          '_locale': '{{ app.request.locale }}',
        }),
        type: 'GET',
      }).done(function(data) {
        element.classList.toggle('icon-heart5');
        element.classList.toggle('icon-heart6');
      });
    }
  </script>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
        // Initialize PhotoSwipe for user images
        if (window.PhotoSwipeLightbox) {
            const lightbox = new window.PhotoSwipeLightbox({
                gallery: '[data-gallery="user-images"]',
                children: 'a',
                pswpModule: window.PhotoSwipe,
                showHideAnimationType: 'fade',
                bgOpacity: 0.9,
                spacing: 0.1,
                allowPanToNext: true,
                zoom: true,
                close: true,
                arrowKeys: true,
                returnFocus: true,
                trapFocus: true,
                clickToCloseNonZoomable: true
            });

            // Add event listener to dynamically load image dimensions
            lightbox.on('uiRegister', () => {
                lightbox.on('contentLoad', (e) => {
                    const { content } = e;
                    
                    if (content.type === 'image') {
                        // Create a new image to get actual dimensions
                        const img = new Image();
                        img.onload = () => {
                            // Update content with actual dimensions
                            content.width = img.naturalWidth;
                            content.height = img.naturalHeight;
                            
                            // Trigger PhotoSwipe to update layout
                            if (lightbox.pswp) {
                                lightbox.pswp.updateSize();
                            }
                        };
                        img.src = content.data.src;
                    }
                });
            });
            
            lightbox.init();
        }
  </script>
{% endblock %}
