{% extends "base.html.twig" %}

{% import "helper.html.twig" as helper %}

{% set title = 'user_profile.title'|trans({'%name%': user.displayName}) %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-sm-3">
      <div class="row">
        <!-- infos user -->
        <div class="panel">
          <div class="panel-body text-center">
            <div class="display-inline-block">
              {{ helper.profilePicture(user, 'img-circle img-lg') }}
            </div>

            <h6 class="text-semibold no-margin-bottom">
              {{ user.displayName }}
            </h6>
          </div>

          <div class="list-group no-border no-padding-top">
            <a href="{{ path('user_ratings', {'id': user.id}) }}" class="list-group-item">
              <i class="icon-stars"></i>
              {{ 'user_profile.ratings'|trans }}
              <span class="badge bg-teal-400 pull-right">{{ user.ratings|length }}</span>
            </a>
            <a href="{{ path('user_reviews', {'id': user.id}) }}" class="list-group-item">
              <i class="icon-megaphone"></i>
              {{ 'user_profile.reviews'|trans }}
            </a>
            {% if user.mainTop.id %}
              <a href="{{ path('top_show', {'id': user.mainTop.id}) }}" class="list-group-item">
                <i class="icon-podium"></i>
                {{ 'user_profile.main_top'|trans }}
                <span class="badge bg-teal-400 pull-right">{{ user.mainTop.topCoasters|length }}</span>
              </a>
            {% endif %}
            {% if user.tops|length > 1 %}
              <a href="{{ path('user_tops', {'id': user.id}) }}" class="list-group-item">
                <i class="icon-podium"></i>
                {{ 'user_profile.tops'|trans }}
                <span class="badge bg-teal-400 pull-right">{{ user.tops|length }}</span>
              </a>
            {% endif %}
              {% if images_counter > 0 %}
              <a href="{{ path('user_pictures', {'id': user.id}) }}" class="list-group-item">
                <i class="icon-camera"></i>
                {{ 'user_profile.pictures'|trans }}
                  <span class="badge bg-teal-400 pull-right">{{ images_counter }}</span>
              </a>
            {% endif %}
            <a href="{{ path('map_user', {'id': user.id}) }}" class="list-group-item">
              <i class="icon-location3"></i>
              {{ 'user_profile.map'|trans }}
            </a>
          </div>
        </div>
        <!-- /infos user -->
      </div>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-12">
          <!-- stats -->
          {% include 'Profile/user_stats.html.twig' with {'stats': stats} only %}
          <!-- stats -->
          <!-- badges -->
          <div class="panel panel-flat">
            <div class="panel-heading">
              <h3 class="panel-title">{{ 'profile.badge'|trans }}</h3>
            </div>

            <div class="panel-body">
              <div class="row">
                <div class="col-sm-3" style="margin-bottom: 40px;">
                  <img src="{{ asset('images/badges/bienvenue-'~app.request.locale~'.png') }}"/>
                </div>
                {% for badge in user.badges %}
                  <div class="col-sm-3" style="margin-bottom: 40px;">
                    <img src="{{ asset('images/badges/'~badge.filename(app.request.locale)) }}"/>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <!-- /badges -->
        </div>
      </div>
    </div>
  </div>
{% endblock %}
