{% extends 'base.html.twig' %}

{% import "helper.html.twig" as helper %}

{% set title = 'users.tops.title'|trans({'%name%': user.displayName}) %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
  <div class="panel panel-body stack-media-on-mobile">
    <div class="media-left">
      <a href="#" class="btn btn-link btn-icon text-teal">
        {{ ux_icon('heroicons:clipboard', {'class': 'w-8 h-8 no-edge-top'}) }}
      </a>
    </div>
    <div class="media-body media-middle">
      <h6 class="media-heading text-semibold">{{ 'list.infotitle'|trans({}, 'top') }}</h6>
      {{ 'list.info'|trans({}, 'top') }}
    </div>
    <div class="media-right media-middle">
      <a href="{{ path('top_new') }}" class="btn bg-teal-400 btn-lg">{{ ux_icon('heroicons:plus', {'class': 'w-6 h-6 position-left'}) }}
        {% if tops|length == 0 %}{{ 'list.create_first'|trans({}, 'top') }}{% else %}{{ 'list.create'|trans({}, 'top') }}{% endif %}
      </a>
    </div>
  </div>

  <div class="row">
    {% for top in tops %}
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <div class="caption">
            <div class="content-group-sm media">
              <div class="media-left">
                {{ helper.profilePicture(top.user) }}
              </div>
              <div class="media-body">
                <h6 class="text-semibold no-margin">
                  {% if top.main %}{{ ux_icon('heroicons:check', {'class': 'w-6 h-6 text-size-mini position-left'}) }}{% endif %}
                  <a href="{{ path('top_show', {'id': top.id}) }}" class="text-default">
                    {{ top.name }}
                  </a>
                </h6>
              </div>
            </div>
            <ul class="list-feed">
              {% for i in 0..2 %}
                {% if top.topCoasters[i] is defined %}
                  <li>
                    {{ i + 1 }} -
                    <a href="{{ path('show_coaster', {'id': top.topCoasters[i].coaster.id, 'slug': top.topCoasters[i].coaster.slug}) }}"
                       class="text-default">
                      {{ top.topCoasters[i].coaster.name }}
                    </a>
                  </li>
                {% else %}
                  <li>&nbsp;</li>
                {% endif %}
              {% endfor %}
            </ul>
            <div class="media">
              <a href="{{ path('top_show', {'id': top.id}) }}">
                {{ ux_icon('heroicons:arrow-right-circle', {'class': 'w-6 h-6'}) }} {{ 'list.more'|trans({}, 'top') }}
              </a>
            </div>
            <ul class="list-inline media">
              <li>{{ ux_icon('heroicons:square-3-stack-3d', {'class': 'w-6 h-6 position-left'}) }} {{ top.topCoasters|length }}</li>
              <li>
                {{ ux_icon('heroicons:clock', {'class': 'w-6 h-6 position-left'}) }} {{ 'list.updated'|trans({}, 'top') }} {{ top.updatedAt|ago }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

