{% extends "base.html.twig" %}

{% set title = 'coaster_ranking.title'|trans %}
{% block title %}{{ title }}{% endblock %}

{% block header %}
    <meta name="description" content="{{ 'coaster_ranking.description'|trans }}"/>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.quilljs.com/1.3.5/quill.js"></script>
    <script>
        var toolbarOptions = [
            ['bold', 'italic', 'underline', 'blockquote'],
            [{ 'header': 1 }, { 'header': 2 }],
            ['link', 'image', 'video'],
            ['clean']
        ];

        var quill = new Quill('#editor', {
            theme: 'snow',
            // theme: 'bubble'
            // placeholder: 'Tell us your story...'
            modules: {
                toolbar: toolbarOptions
            }
        });
    </script>
    {#<script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>#}
    <script>
        // var editor = new MediumEditor('.editable');
        {#editor.setContent('{{ report.content|raw }}', 0);#}
        var saveContent = function () {
            // var content = editor.serialize();
            var content = quill.root.innerHTML;
            console.log(content);
            $.ajax({
                url: '/en/reports/1/content',
                type: "POST",
                data: { content }
            }).done(function (data) {
                console.log('saved');
            });
        }
    </script>
{% endblock %}

{% block stylesheets %}
    {#<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css"#}
    {#type="text/css" media="screen" charset="utf-8">#}
    {#<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@5.23.3/dist/css/themes/beagle.min.css"#}
    {#type="text/css" media="screen" charset="utf-8">#}
    <link href="https://cdn.quilljs.com/1.3.5/quill.snow.css" rel="stylesheet">
    <style>
        .content-wrapper {
            background-color: #FFFFFF;
        }
        #editor {
            border: none!important;
            padding: 30px;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="editor">
        {{ report.content|raw }}
    </div>
    <br/>
    <button type="button" onclick="saveContent();" class="btn btn-primary">
        <i class="icon-floppy-disk position-left"></i> Save
    </button>
    <button type="button" class="btn btn-success"><i class="icon-arrow-right16 position-left"></i> Save and Publish</button>
    {#{{ form(form) }}#}
{% endblock %}