<div class="panel panel-white">
  <div class="table-responsive" style="display: block;">
    <table class="table">
      <thead>
      <tr>
        <th>{{ knp_pagination_sortable(ratings, 'users.ratings.coaster'|trans, 'c.name') }}</th>
        <th class="hidden-xs">{{ knp_pagination_sortable(ratings, 'users.ratings.manufacturer'|trans, ['m.name']) }}</th>
        <th class="hidden-xs">{{ knp_pagination_sortable(ratings, 'users.ratings.opening_date'|trans, ['c.openingDate']) }}</th>
        <th>{{ knp_pagination_sortable(ratings, 'users.ratings.rating'|trans, ['r.value']) }}</th>
        <th class="hidden-xs">{{ knp_pagination_sortable(ratings, 'users.ratings.ridden_at'|trans, 'r.riddenAt') }}</th>
        {% if allowDelete %}
          <th class="text-center hidden-xs" style="width: 20px;"><i class="icon-arrow-down12"></i></th>
        {% endif %}
      </tr>
      </thead>
      <tbody>
      {% for rating in ratings %}
        <tr id="tr-coaster-{{ rating.coaster.id }}">
          <td>
            <a href="{{ path('bdd_show_coaster', {'slug': rating.coaster.slug}) }}"
               class="text-semibold">{{ rating.coaster.name }}</a>
            <div class="text-muted text-size-small">
              <span class="status-mark bg-{{ rating.coaster.status.type }} position-left"></span>
              {{ rating.coaster.park.name }}
            </div>
          </td>
          <td class="hidden-xs">
            {{ rating.coaster.manufacturer.name }}
          </td>
          <td class="hidden-xs">
            {{ rating.coaster.openingDate is empty ? '-' : rating.coaster.openingDate|date('Y') }}
          </td>
          <td>
            <div class="rating-coaster"
                 data-coaster="{{ rating.coaster.id }}"
                 data-rateit-value="{{ rating.value }}"
                 {% if not is_granted('rate', rating.coaster) %}data-rateit-readonly="true"{% endif %}
                 style="font-size: 22px;"></div>
          </td>
          <td class="hidden-xs">
            {{ rating.riddenAt is empty ? '-' : rating.riddenAt|localizeddate('short', 'none') }}
          </td>
          {% if allowDelete %}
          <td class="text-center hidden-xs">
            <a onclick="deleteRating({{ rating.id }}, $(this).closest('tr'));"><i class="icon-trash"></i></a>
          </td>
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{{ knp_pagination_render(ratings) }}
